/* CSS crunched with Crunch - http://crunchapp.net/ */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
h2{font-size:1.5em;margin:0.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.75em;margin:2.33em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
p,pre{margin:1em 0;}
code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,menu,ol,ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,ol,ul{padding:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
p{-webkit-hyphens:auto;-epub-hyphens:auto;-moz-hyphens:auto;hyphens:auto;}
b,strong,.strong{font-weight:bold;}
dfn,em,.em{font-style:italic;}
small,.small{font-size:75%;}
ul,ol{padding:0;list-style-type:none;}
dd{margin:0;}
.sidebar ul,.sidebar ol,.commentlist{list-style:none;}
.clearfix{zoom:1;}.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.image-replacement{text-indent:100%;white-space:nowrap;overflow:hidden;}
span.amp{font-family:Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif;font-style:italic;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.alert{margin:10px;padding:5px 18px;border:1px solid;}
.alert-help{margin:10px;padding:5px 18px;border:1px solid;border-color:#e8dc59;background:#ebe16f;}
.alert-info{margin:10px;padding:5px 18px;border:1px solid;border-color:#bfe4f4;background:#d5edf8;}
.alert-error{margin:10px;padding:5px 18px;border:1px solid;border-color:#f8cdce;background:#fbe3e4;}
.alert-success{margin:10px;padding:5px 18px;border:1px solid;border-color:#deeaae;background:#e6efc2;}
.button,.button:visited{border:1px solid #be0d37;border-top-color:#db0f3f;border-left-color:#db0f3f;padding:4px 12px;color:#ffffff;display:inline-block;font-size:11px;font-weight:bold;text-decoration:none;text-shadow:0 1px rgba(0, 0, 0, 0.75);cursor:pointer;margin-bottom:20px;line-height:21px;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#e40f42;background-image:-webkit-gradient(linear, left top, left bottom, from(#f01d4f), to(#e40f42));background-image:-webkit-linear-gradient(top, #f01d4f, #e40f42);background-image:-moz-linear-gradient(top, #f01d4f, #e40f42);background-image:-o-linear-gradient(top, #f01d4f, #e40f42);background-image:linear-gradient(to bottom, #f01d4f, #e40f42);}.button:hover,.button:visited:hover,.button:focus,.button:visited:focus{color:#ffffff;border:1px solid #be0d37;border-top-color:#9d0a2d;border-left-color:#9d0a2d;background-color:#cc0e3b;background-image:-webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#cc0e3b));background-image:-webkit-linear-gradient(top, #e40f42, #cc0e3b);background-image:-moz-linear-gradient(top, #e40f42, #cc0e3b);background-image:-o-linear-gradient(top, #e40f42, #cc0e3b);background-image:linear-gradient(to bottom, #e40f42, #cc0e3b);}
.button:active,.button:visited:active{background-color:#f01d4f;background-image:-webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#f01d4f));background-image:-webkit-linear-gradient(top, #e40f42, #f01d4f);background-image:-moz-linear-gradient(top, #e40f42, #f01d4f);background-image:-o-linear-gradient(top, #e40f42, #f01d4f);background-image:linear-gradient(to bottom, #e40f42, #f01d4f);}
.blue-button,.blue-button:visited{border-color:#1472ad;text-shadow:0 1px 1px #1472ad;background-color:#1681c4;background-image:-webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));background-image:-webkit-linear-gradient(top, #1990db, #1681c4);background-image:-moz-linear-gradient(top, #1990db, #1681c4);background-image:-o-linear-gradient(top, #1990db, #1681c4);background-image:linear-gradient(to bottom, #1990db, #1681c4);-webkit-box-shadow:inset 0 0 3px #59b3ec;-moz-box-shadow:inset 0 0 3px #59b3ec;box-shadow:inset 0 0 3px #59b3ec;}.blue-button:hover,.blue-button:visited:hover,.blue-button:focus,.blue-button:visited:focus{border-color:#116396;background-color:#1472ad;background-image:-webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));background-image:-webkit-linear-gradient(top, #1784c9, #1472ad);background-image:-moz-linear-gradient(top, #1784c9, #1472ad);background-image:-o-linear-gradient(top, #1784c9, #1472ad);background-image:linear-gradient(to bottom, #1784c9, #1472ad);}
.blue-button:active,.blue-button:visited:active{background-color:#1990db;background-image:-webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));background-image:-webkit-linear-gradient(top, #1681c4, #1990db);background-image:-moz-linear-gradient(top, #1681c4, #1990db);background-image:-o-linear-gradient(top, #1681c4, #1990db);background-image:linear-gradient(to bottom, #1681c4, #1990db);}
.ritas-red{color:#ef334e;}
.ritas-green{color:#008047;}
.freight-font{font-family:"freight-sans-pro",helvetica,sans-serif;}
body{font-size:100%;line-height:1.5;font-family:"freight-sans-pro",helvetica,sans-serif;font-weight:500;color:#686868;font-size:14px;}
.desktopView{display:none;visibility:hidden;}
.mobileView{display:inline-block;visibility:visible;}
#container{height:100%;position:relative;}
.wrap,.social-crowd-wrapper{width:96%;margin:0 auto;}
#autoTop{padding-bottom:30px;float:right;text-transform:uppercase;color:#008047;cursor:pointer;}
a,a:visited{color:#f01d4f;}a:hover,a:visited:hover,a:focus,a:visited:focus{color:#d10e3c;}
a:link,a:visited:link{-webkit-tap-highlight-color:rgba(0, 0, 0, 0.3);}
a{text-decoration:none;}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5{font-family:"freight-sans-pro",helvetica,sans-serif !important;text-rendering:optimizelegibility;}h1 a,.h1 a,h2 a,.h2 a,h3 a,.h3 a,h4 a,.h4 a,h5 a,.h5 a{text-decoration:none;color:#008047;}h1 a:hover,.h1 a:hover,h2 a:hover,.h2 a:hover,h3 a:hover,.h3 a:hover,h4 a:hover,.h4 a:hover,h5 a:hover,.h5 a:hover{color:#ef334e;}
h1,.h1{font-size:2.5em;line-height:1.333em;text-transform:uppercase;margin:0px;color:#008047;font-weight:900;}
h2,.h2{font-size:1.75em;line-height:1.4em;margin-bottom:0.375em;}
h3,.h3{font-size:1.125em;}
h3.h2{-webkit-margin-after:0em !important;-webkit-margin-before:0em !important;}
h4,.h4{font-size:1.1em;font-weight:700;}
h5,.h5{font-size:0.846em;line-height:2.09em;text-transform:uppercase;letter-spacing:2px;}
#static-header-banner,#find-ritas-social-icons{display:inline-block;visibility:visible;}
#header-slideshow-wrapper,#find-ritas-slider-overlay{display:none;visibility:hidden;}
#static-header-banner{padding:0;margin:0 0 15px 0;width:100%;position:relative;display:block;background:#aad6f3;height:96px;}#static-header-banner img{border-bottom:4px #ef334e solid;margin:0;padding:0;min-height:70px;width:auto;}
#static-header-banner img.mobile-portrait{display:inline-block;visibility:visible;}
#static-header-banner img.mobile-landscape{display:none;visibility:hidden;}
#static-header-banner #header-logo-mobile{top:10px;width:30%;max-width:90px;height:80px;right:6.25%;position:absolute;z-index:999;}#static-header-banner #header-logo-mobile a{position:relative;width:100%;display:inline-block;}#static-header-banner #header-logo-mobile a .logo{max-width:100%;max-height:100%;display:block;border:none;}
#header-links{display:inline-block;position:relative;width:100%;border-bottom:1px #ef334e dotted;line-height:100%;z-index:9999;}#header-links #find-ritas-social-icons{display:inline-block;margin-left:10px;margin-top:0px;width:126px;}#header-links #find-ritas-social-icons a{background:none;display:inline-block;}#header-links #find-ritas-social-icons a img{display:inline-block;}
#header-links #mobile-nav{position:absolute;top:2%;width:60%;left:2%;z-index:999;}#header-links #mobile-nav select{display:inline-block;width:100%;position:absolute: top: 0;right:0;}
#header-links .social-icons-header{display:inline-block;margin-right:2px;margin-top:0px;clear:none;padding-right:5px;float:right;}#header-links .social-icons-header .social-icon{float:left;padding-right:8px;}
#header-links .social-icons-header a,#header-links .social-icons-header a:visited,#header-links .social-icons-header a:active,#header-links .social-icons-header a:hover{display:inline-block;float:left;clear:none;width:30px;background:url('../images/ritas/ritas-footer-social-icons.png') no-repeat #ef334e;border-radius:22px;}
#header-links .social-icons-header a.twitter{background-position:-1px -34px;height:28px;}
#header-links .social-icons-header a.facebook{background-position:-1px -6px;height:28px;}
.nav{border-bottom:0;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;}.nav li{}.nav li a{display:block;text-decoration:none;padding:10px 6px;}
.nav li ul.sub-menu li a,.nav li ul.children li a{padding-left:30px;}
#menu-footer-menu{display:none;visibility:hidden;}
#mobile-nav,#footer-nav-mobile{height:40px;line-height:30px;float:none;padding:0 8px;text-transform:uppercase;margin:0;background:#008047 url('../images/ritas/downarrow.png') right center no-repeat;color:#ffffff;top:0;right:0;cursor:pointer;position:relative;}#mobile-nav .select-title,#footer-nav-mobile .select-title{position:absolute;top:5px;font-weight:bold;color:#ffffff;}
#mobile-nav select,#footer-nav-mobile select{background:none;height:40px;font-size:14px;color:#ffffff;border:0px;text-transform:none;font-family:"freight-sans-pro",helvetica,sans-serif;text-align:center;overflow:hidden;width:100%;opacity:0;position:relative;}#mobile-nav select option,#footer-nav-mobile select option{color:#008047;z-index:9999;width:100%;background:#a9a9a9;padding:4px 2px;}
#mobile-nav select option:selected,#footer-nav-mobile select option:selected{color:#ef334e;}
#footer-nav-mobile{width:100%;margin:0;}
.mobile-footer-logo{display:inline-block;max-width:20%;min-width:75px;border:none;text-decoration:none;vertical-align:middle;}.mobile-footer-logo img{width:100%;}
#footer-left-edge{display:none;visibility:hidden;}
#find-ritas-social-icons a img{display:none;visibility:hidden;}
#content{margin-top:0;}
.byline{color:#999;}
.entry-content{}
.entry-content table.directory{vertical-align:top;}.entry-content table.directory tr,.entry-content table.directory td{vertical-align:top;}.entry-content table.directory tr h2,.entry-content table.directory td h2{margin:0;}
.entry-content table.directory tr h3,.entry-content table.directory td h3{text-align:center;}
.entry-content table.directory tr ul,.entry-content table.directory td ul{list-style-type:disc;margin-left:25px;}
.entry-content table.directory tr ol,.entry-content table.directory td ol{list-style-type:decimal;margin-left:25px;}
.entry-content .menu-product-group .directory{width:960px;}
.entry-content dd{margin-left:0;font-size:0.9em;color:#787878;margin-bottom:1.5em;}
.entry-content img{margin:0 0 1.5em 0;max-width:100%;height:auto;}
.entry-content a img{margin:0;}
.entry-content .ngg-gallery-thumbnail{float:left;margin-right:5px;text-align:center;}
.entry-content .gallery img{margin:0 0 0 0;}
.entry-content video{max-width:100%;height:auto;}
.entry-content object#ecardsend{width:460px;height:310px;}
.entry-content pre{background:#eee;border:1px solid #cecece;padding:10px;}
.wp-caption{background:#eee;padding:5px;}.wp-caption img{margin-bottom:0;width:100%;}
.wp-caption p.wp-caption-text{font-size:0.85em;margin:4px 0 7px;text-align:center;}
ol{margin-left:20px;list-style-type:decimal;}
p{line-height:20px;}
sup{font-size:67%;padding-left:1px;padding-right:2px;}
.page-navigation,.wp-prev-next{margin:1.1em 0 2.2em;}
.ritas_page_navi{}.ritas_page_navi li{float:left;margin-left:10px;}.ritas_page_navi li a{padding:3px 6px;display:block;text-decoration:none;position:relative;}.ritas_page_navi li a:hover,.ritas_page_navi li a:focus{color:#f01d4f;text-decoration:underline;}
.ritas_page_navi li.bpn-current{padding:3px 6px;border-bottom:2px solid #f01d4f;position:relative;}.ritas_page_navi li.bpn-current a{}
.ritas_page_navi li.bpn-prev-link,.ritas_page_navi li.bpn-next-link{font-weight:700;}.ritas_page_navi li.bpn-prev-link a,.ritas_page_navi li.bpn-next-link a{padding:0;}
.ritas_page_navi li.bpn-prev-link a:hover,.ritas_page_navi li.bpn-next-link a:hover,.ritas_page_navi li.bpn-first-page-link a:hover,.ritas_page_navi li.bpn-last-page-link a:hover{background:none;}
.wp-prev-next .prev-link{float:left;}
.wp-prev-next .next-link{float:right;}
h3.toggle{font-size:18px;padding:5px 0 10px 23px;cursor:pointer;clear:both;margin:15px 0 0 0;display:inline-block;width:100%;}
h3.toggle a{text-decoration:none;display:block;}
h3 div.toggle-icon{width:50px;height:35px;display:inline-block;float:left;}
h3.toggle div.toggle-icon{background:url('../images/toggle_sprite.png') 0 -17px no-repeat;}
h3.toggle-active div.toggle-icon{background-position:-50px -70px;}
.toggle-box{clear:both;margin:0 0 20px 0;overflow:hidden;padding-left:50px;}
#comments{}
.commentlist{}.commentlist li{position:relative;clear:both;overflow:hidden;list-style-type:none;margin-bottom:1.5em;padding:0.7335em 10px;}.commentlist li:last-child{margin-bottom:0;}
.commentlist li ul.children{margin:0;}
.commentlist li[class*=depth-]{margin-top:1.1em;}
.commentlist li.depth-1{margin-left:0;margin-top:0;}
.commentlist li:not(.depth-1){margin-right:-10px;margin-left:-10px;margin-top:0;padding-bottom:0;}
.commentlist .odd{background:#eee;}
.commentlist .even{background:#fefefe;}
.commentlist .vcard{margin-left:50px;}.commentlist .vcard cite.fn{font-weight:700;font-style:normal;}
.commentlist .vcard time{float:right;}.commentlist .vcard time a{color:#999;text-decoration:none;}.commentlist .vcard time a:hover{text-decoration:underline;}
.commentlist .vcard img.avatar{position:absolute;left:10px;padding:2px;border:1px solid #cecece;background:#ffffff;}
.commentlist .comment_content{margin-left:50px;}.commentlist .comment_content p{margin:0.7335em 0 1.5em;font-size:1em;line-height:1.5em;}
.commentlist .comment-reply-link{text-decoration:none;float:right;background:#4598bb;padding:3px 5px;color:#ffffff;opacity:0.65;margin-bottom:10px;font-weight:700;font-size:0.9em;}.commentlist .comment-reply-link:hover,.commentlist .comment-reply-link:focus{opacity:1;}
.respond-form{margin:1.5em 10px;padding-bottom:2.2em;}.respond-form form{margin:0.75em 0;}.respond-form form li{list-style-type:none;clear:both;margin-bottom:0.7335em;}.respond-form form li label,.respond-form form li small{display:none;}
.respond-form form input[type=text],.respond-form form input[type=email],.respond-form form input[type=url],.respond-form form textarea{padding:3px 6px;background:#efefef;border:2px solid #cecece;line-height:1.5em;}.respond-form form input[type=text]:focus,.respond-form form input[type=email]:focus,.respond-form form input[type=url]:focus,.respond-form form textarea:focus{background:#ffffff;}
.respond-form form input[type=text]:invalid,.respond-form form input[type=email]:invalid,.respond-form form input[type=url]:invalid,.respond-form form textarea:invalid{outline:none;border-color:#fbc2c4;background-color:#f6e7eb;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;box-shadow:none;}
.respond-form form input[type=text],.respond-form form input[type=email],.respond-form form input[type=url]{max-width:400px;min-width:250px;}
.respond-form form textarea{resize:none;width:97.3%;height:150px;}
#comment-form-title{margin:0 0 1.1em;}
#allowed_tags{margin:1.5em 10px 0.7335em 0;}
.nocomments{margin:0 20px 1.1em;}
.widget ul li{}
.footer{clear:both;}
.social-crowd-wrapper{margin:0px auto;padding:15px 0 100px 0;}.social-crowd-wrapper .facebook-stats,.social-crowd-wrapper .twitter-stats,.social-crowd-wrapper .youtube-stats{float:left;margin-right:0.75%;width:24%;}
.social-crowd-wrapper .instagram-stats{float:left;margin-right:0;width:25%;}
.social-crowd-wrapper .footer-search-wrapper{display:none;visibility:hidden;}
.social-crowd-wrapper img,.social-crowd-wrapper p{float:left;margin-top:0px;}
.social-crowd-wrapper img{padding-right:10px;}
.social-crowd-wrapper h1{padding-bottom:10px;font-size:24px;}
.social-crowd-wrapper .social-crowd-numbers{font-size:18px;}
#sl_div{font-weight:bold;}#sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search{width:100%;display:inline-block;}#sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search label{width:200px;text-align:left;clear:both;padding:0;margin:0 !important;float:none;display:block;}
#sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search input,#sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search select{width:95%;margin:0 0 0 5%;padding:0;float:none;display:block;}#sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search input option,#sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search select option{font-size:14px;padding:4px;}
#sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search #addy_in_radius,#sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search #radius_in_submit{float:none;padding:3px 0 !important;margin:0 !important;white-space:normal;width:auto !important;}
#sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search div{margin-top:3px;}
ul.map li a{color:#ef334e !important;text-decoration:none !important;font-family:"freight-sans-pro",helvetica,sans-serif !important;}
#search-results-legend .heading{color:#ef334e;font-size:16px;display:block;}
#search-results-legend input[type="checkbox"]{margin-right:5px;}
#resultsMapCanvas #sl_info_bubble{font-weight:normal !important;line-height:1.3em !important;padding:10px;max-width:300px;font-size:11px;font-family:Arial;text-align:justify;}#resultsMapCanvas #sl_info_bubble a.storelocatorlink{color:#0000FF;}
#resultsMapCanvas #sl_info_bubble a:hover.storelocatorlink{color:#4444FF;}
#resultsMapCanvas #sl_info_bubble .location_detail_label.hours{width:100%;display:inline-block;clear:both;}
#resultsMapCanvas #sl_info_bubble .dow{clear:left;display:inline-block;width:15%;margin-left:7%;}
#resultsMapCanvas #sl_info_bubble .hrs{clear:right;display:inline-block;width:78%;}
#resultsMapCanvas #sl_info_bubble .location_detail_label.contact{width:22%;display:inline-block;clear:left;}
#resultsMapCanvas #sl_info_bubble .contact_link{width:78%;display:inline-block;clear:right;}
#resultsMapCanvas #sl_info_bubble .slp_info_bubble_tags{display:none;visibility:hidden;}
#sl_div #map_table #map_table_body #map_table_row #map_table_cell #map div #sl_info_bubble{font-weight:normal !important;line-height:1.3em !important;}#sl_div #map_table #map_table_body #map_table_row #map_table_cell #map div #sl_info_bubble .location_detail_label.hours{width:100%;display:inline-block;clear:both;}
#sl_div #map_table #map_table_body #map_table_row #map_table_cell #map div #sl_info_bubble .dow{clear:left;display:inline-block;width:15%;margin-left:7%;}
#sl_div #map_table #map_table_body #map_table_row #map_table_cell #map div #sl_info_bubble .hrs{clear:right;display:inline-block;width:78%;}
#sl_div #map_table #map_table_body #map_table_row #map_table_cell #map div #sl_info_bubble .location_detail_label.contact{width:22%;display:inline-block;clear:left;}
#sl_div #map_table #map_table_body #map_table_row #map_table_cell #map div #sl_info_bubble .contact_link{width:78%;display:inline-block;clear:right;}
#sl_div #map_table #map_table_body #map_table_row #map_table_cell #map div #sl_info_bubble .slp_info_bubble_tags{display:none;visibility:hidden;}
#sl_div #results_table{width:100%;overflow:hidden;text-align:left;}#sl_div #results_table tr.slp_map_search_results #map_sidebar{font-weight:normal !important;}#sl_div #results_table tr.slp_map_search_results #map_sidebar ol.locations-listing{margin-left:0px;padding-left:0px;overflow:hidden;}#sl_div #results_table tr.slp_map_search_results #map_sidebar ol.locations-listing li{background-position:0 0;padding-left:3px;height:auto;line-height:22px;margin-bottom:10px;color:#ffffff;font-weight:bold;list-style-type:decimal;list-style-position:inside;text-align:right;clear:both;width:100%;display:inline-table;}#sl_div #results_table tr.slp_map_search_results #map_sidebar ol.locations-listing li .searchResultsTable{color:#686868 !important;display:inline-table;clear:none;min-width:300px;width:100% !important;margin-left:0;position:relative;vertical-align:top;}#sl_div #results_table tr.slp_map_search_results #map_sidebar ol.locations-listing li .searchResultsTable tr{float:left;}
#sl_div #results_table tr.slp_map_search_results #map_sidebar ol.locations-listing li .searchResultsTable td{margin:0 !important;display:inline-block;font-weight:normal !important;text-align:left;float:left;}
#sl_div #results_table tr.slp_map_search_results #map_sidebar ol.locations-listing li .searchResultsTable td.results_row_left_column{min-width:200px;width:25%;}
#sl_div #results_table tr.slp_map_search_results #map_sidebar ol.locations-listing li .searchResultsTable td.results_row_center_column{width:50%;}
#sl_div #results_table tr.slp_map_search_results #map_sidebar ol.locations-listing li .searchResultsTable td.results_row_right_column{min-width:200px;width:25%;}
.location-info,.searchResultsTable{color:#686868 !important;font-weight:500;padding-left:0;}
.location-info a.storelocatorlink,.searchResultsTable a.storelocatorlink{color:#ef334e !important;}
.location-info span.location_name,.searchResultsTable span.location_name{color:#ef334e !important;}
.location-info .location-name,.searchResultsTable .location-name{padding-left:15px;color:#ef334e !important;}
.location-info .location_distance,.searchResultsTable .location_distance{clear:both;width:100%;display:inline-block;}
.location-info .location-specific-social-links,.searchResultsTable .location-specific-social-links{display:inline-block;clear:right;vertical-align:top;}.location-info .location-specific-social-links .social-icon,.searchResultsTable .location-specific-social-links .social-icon{display:inline-block;float:left;clear:none;padding-right:5px;}.location-info .location-specific-social-links .social-icon a,.searchResultsTable .location-specific-social-links .social-icon a,.location-info .location-specific-social-links .social-icon a:visited,.searchResultsTable .location-specific-social-links .social-icon a:visited,.location-info .location-specific-social-links .social-icon a:active,.searchResultsTable .location-specific-social-links .social-icon a:active,.location-info .location-specific-social-links .social-icon a:hover,.searchResultsTable .location-specific-social-links .social-icon a:hover{display:inline-block;float:left;clear:none;width:30px;background:url('../images/ritas/ritas-footer-social-icons.png') no-repeat #ef334e;border-radius:22px;}
.location-info .location-specific-social-links .social-icon a.twitter,.searchResultsTable .location-specific-social-links .social-icon a.twitter{background-position:-1px -34px;height:28px;}
.location-info .location-specific-social-links .social-icon a.facebook,.searchResultsTable .location-specific-social-links .social-icon a.facebook{background-position:-1px -6px;height:28px;}
.location-info .location-specific-social-links a.coolAlerts,.searchResultsTable .location-specific-social-links a.coolAlerts{margin-top:5px;clear:none;display:inline-block;width:120px;background:url('../images/ritas/cool-alerts-button.png') no-repeat;height:37px;}
.location-info .location-specific-social-links .cool-alerts,.searchResultsTable .location-specific-social-links .cool-alerts{height:auto;clear:both;}
.location-info .location-url,.searchResultsTable .location-url,.location-info .slp_result_website,.searchResultsTable .slp_result_website{padding-bottom:10px;}.location-info .location-url a,.searchResultsTable .location-url a,.location-info .slp_result_website a,.searchResultsTable .slp_result_website a,.location-info .location-url a:visited,.searchResultsTable .location-url a:visited,.location-info .slp_result_website a:visited,.searchResultsTable .slp_result_website a:visited,.location-info .location-url a:active,.searchResultsTable .location-url a:active,.location-info .slp_result_website a:active,.searchResultsTable .slp_result_website a:active{color:#ef334e !important;display:inline;clear:right;}
.location-info .location-url a:hover,.searchResultsTable .location-url a:hover,.location-info .slp_result_website a:hover,.searchResultsTable .slp_result_website a:hover{color:#008047 !important;display:inline;clear:right;}
.location-info .slp_result_tags,.searchResultsTable .slp_result_tags{display:none;visibility:hidden;}
.location-info .location-hours,.searchResultsTable .location-hours{display:block;font-size:0.84em;}.location-info .location-hours .dow,.searchResultsTable .location-hours .dow{width:40px;display:inline-block;float:left;}
.location-listing address{font-style:normal !important;}
#countdown_dashboard{height:60px;position:relative;}#countdown_dashboard .dash{font-family:"freight-sans-pro",helvetica,sans-serif;position:relative;background:transparent url('../images/dash.png') 0 0 no-repeat;float:left;width:3.65em;height:60px;margin-left:.3em;}#countdown_dashboard .dash .dash_title{display:block;position:absolute;bottom:0px;text-transform:uppercase;text-align:center;width:100%;color:#555555;font-size:9px;letter-spacing:2px;}
#countdown_dashboard .dash .digit{position:relative;float:left;text-align:center;font-weight:bold;color:#555555;font-size:1.75em;width:20px;}
.collapsible-control{display:none;visibility:hidden;}
.press-content{padding:5px 0px;margin:0px;}.press-content .press-release-header{float:left;width:100%;}.press-content .press-release-header h3.press-headline{margin:0px;}.press-content .press-release-header h3.press-headline a{text-transform:none;text-decoration:none;color:#686868;font-size:16px;line-height:20px;margin:0px;}.press-content .press-release-header h3.press-headline a:hover{color:#686868;}
.press-content .collapsible-control{float:right;display:inline-block;width:80px;}
.press-content .collapsible-area.collapsed{display:none;visibility:hidden;}
.press-content .press-date{float:none;-webkit-margin-before:0em;-webkit-margin-after:0em;}
.press-content .press-featured-image{float:left;display:inline-block;padding-right:20px;}
.press-content .press-release-content{float:left;width:75%;}
.press-content .slider-section{vertical-align:botTom;height:440px;position:relative;}.press-content .slider-section .press-slider-image{vertical-align:bottom;position:absolute;bottom:0;}
.press-content .slider-section .press-slider-info{position:absolute;bottom:0;}
menu,ul{margin:0;}
.entry-content ul,.sidebar ul{margin-left:20px;}
.sidebar ul li{list-style-type:circle;}
.desktop-product-menu{display:none;visibility:hidden;}
.ritas-productLink{position:absolute;top:30%;display:block;background:url('../images/ritas/arrow-sprite.png') no-repeat;height:50px;width:33px;}.ritas-productLink.faux-prev{left:-50px;background-position:-50px 0px;}.ritas-productLink.faux-prev:hover{background-position:-50px -121px;}
.ritas-productLink.faux-next{right:-50px;background-position:-6px 0px;}.ritas-productLink.faux-next:hover{background-position:-6px -121px;}
.ritas-productLink span{display:none;}
.mobile-product-menu .nutritionInfo{margin:10px auto 0;width:100%;border-bottom:1px dotted #ef334e;padding:0 0 5px 0;display:inline-block;float:left;}.mobile-product-menu .nutritionInfo .flavorTitle{font-family:"freight-sans-pro",helvetica,sans-serif;color:#008047;font-size:18px;text-transform:uppercase;font-weight:700;white-space:normal;width:100%;text-align:center;padding:5px 0 5px 0;border-top:1px dotted #ef334e;}
.mobile-product-menu .nutritionInfo img.productThumbnail{max-width:85px;max-height:125px;display:inline-block;float:left;padding-right:10px;}
.mobile-product-menu .nutritionInfo table{display:inline-block;line-height:1.4em;font-size:13px;border-collapse:collapse;border-spacing:0px;clear:both;}.mobile-product-menu .nutritionInfo table .nutritionCategory{width:140px;text-align:left;}
.mobile-product-menu .nutritionInfo table .nutritionStat{width:40px;}
.menu-product-group{width:95%;}.menu-product-group .mobileNutritionWidget{padding:0 0 10px 0;margin:0 auto 0;}.menu-product-group .mobileNutritionWidget #sizeSelector6,.menu-product-group .mobileNutritionWidget #sizeSelector55{display:none;visibility:hidden;}
.menu-product-group .mobileNutritionWidget .selectorWrapper label{font-family:"freight-sans-pro",helvetica,sans-serif;color:#008047;font-size:1.25em;text-transform:uppercase;clear:both;}
.menu-product-group .mobileNutritionWidget .selectorWrapper select{font-family:"freight-sans-pro",helvetica,sans-serif;color:#000000;font-size:1em;padding:4px;margin-left:10px;min-width:275px;width:95%;max-width:320px;}
.menu-product-group .mobileProductMenuLink{color:#ef334e;font-size:14px;width:100%;float:right;text-transform:lowercase;text-decoration:none;text-align:right;}
h3.toggle a{color:#686868 !important;}
h3.toggle a:hover{color:#ef334e !important;}
h3.toggle-active a{color:#008047 !important;}
.loading{background-image:url('../images/spinner.gif');display:inline-block;width:36px;height:39px;margin:auto;position:absolute;left:50%;top:25%;}
.social-media-feed{width:90%;margin:0 auto;padding:0 0 10px 0;clear:both;display:block;float:none;}
#instagram-feed{width:100%;}#instagram-feed #instagram-placeholder-wrapper{width:auto;display:inline-block;margin:0 auto;padding:10px;border:1px solid #999;}#instagram-feed #instagram-placeholder-wrapper .instapress-shortcode{display:inline-block;margin:0 auto;}#instagram-feed #instagram-placeholder-wrapper .instapress-shortcode .instapress-shortcode-image{float:left;display:inline-block;width:19%;margin-right:1%;margin-top:0;}#instagram-feed #instagram-placeholder-wrapper .instapress-shortcode .instapress-shortcode-image#instapress-shortcode-1-image-5,#instagram-feed #instagram-placeholder-wrapper .instapress-shortcode .instapress-shortcode-image#instapress-shortcode-1-image-10{margin-right:0;}
#instagram-feed #instagram-placeholder-wrapper .instapress-shortcode .instapress-shortcode-image#instapress-shortcode-1-image-6,#instagram-feed #instagram-placeholder-wrapper .instapress-shortcode .instapress-shortcode-image#instapress-shortcode-1-image-7,#instagram-feed #instagram-placeholder-wrapper .instapress-shortcode .instapress-shortcode-image#instapress-shortcode-1-image-8,#instagram-feed #instagram-placeholder-wrapper .instapress-shortcode .instapress-shortcode-image#instapress-shortcode-1-image-9,#instagram-feed #instagram-placeholder-wrapper .instapress-shortcode .instapress-shortcode-image#instapress-shortcode-1-image-10{margin-top:5px;}
#instagram-feed #instagram-placeholder-wrapper .instapress-shortcode .instapress-shortcode-image a{display:inline-block;}
#map-alternate-selector{display:inline-block;visibility:visible;width:100%;}
@media only screen and (max-width:480.99px){.ritas-red{color:#ef334e;} .ritas-green{color:#008047;} .freight-font{font-family:"freight-sans-pro",helvetica,sans-serif;} #main article img{margin:0 auto;width:100%;max-width:320px;display:inline-block;} .directory td{width:100% !important;padding-right:0 !important;}}@media only screen and (min-width:481px){.ritas-red{color:#ef334e;} .ritas-green{color:#008047;} .freight-font{font-family:"freight-sans-pro",helvetica,sans-serif;} #static-header-banner img.mobile-portrait{display:none;visibility:hidden;} #static-header-banner img.mobile-landscape{display:inline-block;visibility:visible;} #static-header-banner #header-logo-mobile{top:10px;max-width:90px;} .menu{}.menu ul{}.menu ul li{}.menu ul li a{} #content{color:#555555;font-size:16px;line-height:23px;} .entry-content{}.entry-content .alignleft,.entry-content img.alignleft{margin-right:1.5em;display:inline;float:left;} .entry-content .alignright,.entry-content img.alignright{margin-left:1.5em;display:inline;float:right;} .entry-content .aligncenter,.entry-content img.aligncenter{margin-right:auto;margin-left:auto;display:block;clear:both;} #countdown_dashboard{height:7em;}#countdown_dashboard .dash{font-family:"freight-sans-pro",helvetica,sans-serif;position:relative;width:auto;height:5.5em;margin-left:.75em;}#countdown_dashboard .dash .dash_title{display:block;position:absolute;bottom:0px;text-align:right;width:100%;font-size:9pt;letter-spacing:2px;} #countdown_dashboard .dash .digit{font-size:2.9em;width:30px;}}@media only screen and (max-width:639.99px){.ritas-red{color:#ef334e;} .ritas-green{color:#008047;} .freight-font{font-family:"freight-sans-pro",helvetica,sans-serif;} #footer-logo{text-align:center;} #sl_div #search_table #addy_in_state #addressInputState{width:35%;} #sl_div #search_table #search_by_tag #tag_to_search_for{width:20%;} #sl_div #search_table #addy_in_address #addressInput{width:36%;} #slideshow214-slide1,#slideshow214-slide2,#slideshow214-slide3,#slideshow214-slide4,#slideshow820-slide1,#slideshow820-slide2,#slideshow820-slide3,#slideshow818-slide1,#slideshow818-slide2,#slideshow238-slide1,#slideshow238-slide2,#slideshow244-slide1,#slideshow244-slide2,#slideshow244-slide3,#slideshow244-slide4,#slideshow244-slide5,#slideshow246-slide1,#slideshow246-slide2,#slideshow246-slide3,#slideshow246-slide4,#slideshow541-slide1,#slideshow541-slide2,#slideshow541-slide3,#slideshow541-slide4,#slideshow556-slide1,#slideshow556-slide2,#slideshow554-slide1,#slideshow554-slide2,.ritas-product-prev,.ritas-product-next{display:none;visibility:hidden;} .product-description td{float:left;} .directory{width:100% !important;} .entry-content table.directory td{float:left;} #mobile-app-slider,.caroufredsel_wrapper,#mobile-app-slider{display:none;visibility:hidden;} #main article img{margin:0 auto;width:100%;max-width:300px;height:auto;display:inline-block;} #main article .nutritionInfo img.productThumbnail{max-width:85px;max-height:125px;display:inline-block;float:left;padding-right:10px;}}@media only screen and (min-width:640px){.onecol{width:5.801104972%;} .twocol{width:14.364640883%;} .threecol{width:22.928176794%;} .fourcol{width:31.491712705%;} .fivecol{width:40.055248616%;} .sixcol{width:48.618784527%;} .sevencol{width:57.182320438000005%;} .eightcol{width:65.74585634900001%;} .ninecol{width:74.30939226%;} .tencol{width:82.87292817100001%;} .elevencol{width:91.436464082%;} .twelvecol{width:99.999999993%;} .onecol,.twocol,.threecol,.fourcol,.fivecol,.sixcol,.sevencol,.eightcol,.ninecol,.tencol,.elevencol,.twelvecol{position:relative;float:left;margin-left:2.762430939%;} .first{margin-left:0;} .last{float:right;} .ritas-red{color:#ef334e;} .ritas-green{color:#008047;} .freight-font{font-family:"freight-sans-pro",helvetica,sans-serif;} .sidebar{margin-top:2.2em;} .widgettitle{border-bottom:2px solid #444;margin-bottom:0.75em;} .widget{padding:0 10px;margin:2.2em 0;}.widget ul li{margin-bottom:0.75em;} .widget ul li ul{margin-top:0.75em;padding-left:1em;} .expander-ui{width:45px;vertical-align:middle;background:url('../images/ritas/arrow-sprite.png') no-repeat;background-position:-88px -15px;cursor:pointer;padding-bottom:12px;display:block;height:50px;margin:10px auto 0px auto;} .expander-ui:hover{background:url('../images/ritas/arrow-sprite.png') no-repeat;background-position:-88px -134px;} .collapser-ui{width:45px;vertical-align:middle;background:url('../images/ritas/arrow-sprite.png') no-repeat;background-position:-132px -15px;cursor:pointer;padding-bottom:12px;display:block;height:50px;margin:10px auto 0px auto;} .collapser-ui:hover{background-position:-132px -135px;} .social-crowd-wrapper{margin:0px auto;padding:25px 0 100px 0;}.social-crowd-wrapper .facebook-stats,.social-crowd-wrapper .twitter-stats,.social-crowd-wrapper .youtube-stats,.social-crowd-wrapper .instagram-stats{float:left;margin-right:0.75%;width:15%;} .social-crowd-wrapper .footer-search-wrapper{float:left;width:36%;display:inline-block;visibility:visible;}.social-crowd-wrapper .footer-search-wrapper .footer-search-input{height:32px;width:72%;float:left;border:1px solid #a9a9a9;padding:4px;} .social-crowd-wrapper .footer-search-wrapper .search-submit{border:none;font-family:"freight-sans-pro",helvetica,sans-serif;font-size:14px;background:#ef334e;color:#ffffff;font-weight:500;text-align:center;padding:7px 10px;text-transform:uppercase;float:left;width:28%;} .social-crowd-wrapper img,.social-crowd-wrapper p{float:left;margin-top:0px;} .social-crowd-wrapper img{padding-right:10px;} .social-crowd-wrapper .social-crowd-numbers{font-size:20px;} #sl_div{font-weight:bold;}#sl_div #search_table{width:100%;} #countdown_dashboard{height:8em;}#countdown_dashboard .dash{position:relative;width:auto;height:7em;margin-left:1.25em;}#countdown_dashboard .dash .dash_title{display:block;position:absolute;bottom:0px;text-align:right;width:100%;font-size:9pt;letter-spacing:2px;} #countdown_dashboard .dash .digit{font-size:5em;width:48px;line-height:81px;} .collapsible-control{display:block;visibility:visible;} .iframed-container{width:100%;padding-left:0;} .menu-product-group{clear:both;display:inline-block;padding-left:0px;width:100%;}.menu-product-group h1.product-title{padding-left:0px;} .menu-product-group .caroufredsel_wrapper{width:100% !important;} .menu-product-group a.ritas-product-prev,.menu-product-group a.ritas-product-next{background:url('../images/ritas/arrow-sprite.png') no-repeat;height:50px;width:33px;display:block;position:absolute;top:36%;} .menu-product-group a.ritas-product-prev{left:-50px;background-position:-50px 0px;} .menu-product-group a.ritas-product-prev:hover{background-position:-50px -121px;} .menu-product-group a.ritas-product-prev.disabled{background-position:0 -100px !important;} .menu-product-group a.ritas-product-next{right:-50px;background-position:-6px 0px;} .menu-product-group a.ritas-product-next:hover{background-position:-6px -121px;} .menu-product-group a.ritas-product-next.disabled{background-position:-50px -100px !important;} .menu-product-group a.ritas-product-prev.disabled,.menu-product-group a.ritas-product-next.disabled{cursor:default;} .menu-product-group a.ritas-product-prev span,.menu-product-group a.ritas-product-next span{display:none;} .menu-product-group .pagination-wrapper{position:absolute;bottom:10px;} .menu-product-group .pagination{text-align:center;}.menu-product-group .pagination a{background:url('../plugins/carouFredSel-6.2.0/miscellaneous_sprite.png') 0 -300px no-repeat transparent;width:15px;height:15px;margin:0 5px 0 0;display:inline-block;}.menu-product-group .pagination a.selected{background-position:-25px -300px;cursor:default;} .menu-product-group .pagination a span{display:none;} .menu-product-group .clearfix{float:none;clear:both;position:relative;} .menu-product-group .content-slideshow-wrapper{display:inline-block;}.menu-product-group .content-slideshow-wrapper .slideshow-nav-wrapper{display:inline-block;} .menu-product-group .content-slideshow-wrapper .slideshow-nav-left{display:inline-block;width:37px;text-align:right;vertical-align:middle;background:url('../images/ritas/arrow-sprite.png') no-repeat;background-position:-52px -9px;height:50px;cursor:pointer;}.menu-product-group .content-slideshow-wrapper .slideshow-nav-left:hover{background:url('../images/ritas/arrow-sprite.png') no-repeat;background-position:-52px -127px;} .menu-product-group .content-slideshow-wrapper .slideshow-nav-right{display:inline-block;width:33px;text-align:right;vertical-align:middle;background:url('../images/ritas/arrow-sprite.png') no-repeat;background-position:-6px -9px;height:50px;cursor:pointer;}.menu-product-group .content-slideshow-wrapper .slideshow-nav-right:hover{background:url('../images/ritas/arrow-sprite.png') no-repeat;background-position:-6px -127px;} .menu-product-group .content-slideshow-wrapper .content-slide.hidden{display:none;visibility:hidden;} .menu-product-group .content-slideshow-wrapper .content-slide .featured-image{display:inline-block;margin:10px 10px 10px 0;width:200px;height:250px;background:#999;float:left;}.menu-product-group .content-slideshow-wrapper .content-slide .featured-image img{width:100%;} .menu-product-group .content-slideshow-wrapper .content-slide .product-description{display:inline-block;padding:10px 0 10px 0;width:auto;font-size:16px;line-height:23px;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow{display:inline-block;clear:both;width:100%;padding:0;}.menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor{display:inline-block;position:relative;padding-right:5.83333px;width:95px;height:200px;vertical-align:top;text-align:center;}.menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor a.toggleNutritionInfo{text-decoration:none;}.menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor a.toggleNutritionInfo img{clear:both;margin:0 auto !important;max-width:85px;max-height:140px;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor a.toggleNutritionInfo p{font-size:12px;margin:0;color:#008047;text-align:center;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay{position:absolute;width:490px;height:400px;display:none;visibility:hidden;background:#fffff3;border:1px solid red;box-shadow:1px 1px 3px #999;z-index:99999;}.menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .right-block{height:100%;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock{float:right;width:140px;display:block;text-transform:uppercase;font-family:"freight-sans-pro",helvetica,sans-serif;font-size:11px;background:#ffffff;border-left:1px solid #999;border-bottom:1px solid #eee;height:100%;}.menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .servingSizeSelectors{text-align:center;}.menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .servingSizeSelectors .servingSizeSelector{clear:both;display:inline-block;width:100%;background:#ffffff;padding:6px 0px;cursor:pointer;}.menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .servingSizeSelectors .servingSizeSelector:hover{color:#ef334e;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .servingSizeSelectors .selectedServingSize{background:#ef334e !important;color:#ffffff;}.menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .servingSizeSelectors .selectedServingSize:hover{color:#ffffff !important;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .secondaryFlavorSelectors{text-align:center;clear:both;display:inline-block;width:100%;background:#ffffff;cursor:pointer;border-top:1px double #333;margin-top:6px;}.menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .secondaryFlavorSelectors .secondaryFlavorSelector{white-space:normal;clear:both;display:inline-block;width:100%;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .secondaryFlavorSelectors .selectedSecondFlavor{padding:6px 0px;background:#ef334e !important;color:#ffffff;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .secondaryFlavorSelectors .resetSecondFlavor{padding:6px 0px;}.menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .secondaryFlavorSelectors .resetSecondFlavor .chooseAnotherFlavor{background:#ffffff;color:#686868;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .secondaryFlavorSelectors .resetSecondFlavor .chooseAnotherFlavor:hover{color:#ef334e !important;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .tertiaryFlavorSelectors{text-align:center;clear:both;display:inline-block;width:100%;background:#ffffff;cursor:pointer;border-top:1px double #333;margin-top:6px;}.menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .tertiaryFlavorSelectors .tertiaryFlavorSelector{white-space:normal;clear:both;display:inline-block;width:100%;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .tertiaryFlavorSelectors .selectedTopping{padding:6px 0px;background:#ef334e !important;color:#ffffff;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .tertiaryFlavorSelectors .resetTopping{padding:6px 0px;}.menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .tertiaryFlavorSelectors .resetTopping .chooseAnotherTopping{background:#ffffff;color:#686868;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .selectorBlock .tertiaryFlavorSelectors .resetTopping .chooseAnotherTopping:hover{color:#ef334e !important;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay div.flavorTitle{font-family:"freight-sans-pro",helvetica,sans-serif;color:#008047;font-size:13px;text-transform:uppercase;font-weight:700;white-space:normal;width:100%;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .nutritionInfoThumb{float:left;display:inline-block;padding:10px;width:120px;}.menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .nutritionInfoThumb img{margin:0 auto !important;max-width:85px;max-height:125px;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .nutritionInfo{font-family:monospace;float:left;display:inline-block;padding:10px 0 0;width:228px;max-height:425px;overflow-y:auto;background:#fffff3;font-family:"freight-sans-pro",helvetica,sans-serif;}.menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .nutritionInfo table{line-height:1.4em;font-size:13px;}.menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .nutritionInfo table .nutritionCategory{width:140px;text-align:left;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor .nutritionInfoOverlay .nutritionInfo table .nutritionStat{width:40px;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow.bottomFlavorRow .flavor .nutritionInfoOverlay{bottom:-5px;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow.topFlavorRow .flavor .nutritionInfoOverlay{top:0;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor.leftAlignNutrition .nutritionInfoOverlay{left:0;} .menu-product-group .content-slideshow-wrapper .content-slide .flavorRow .flavor.rightAlignNutrition .nutritionInfoOverlay{right:0;} .menu-product-group .content-slideshow-wrapper .content-slide .custardFlavorSelectors{display:inline-block;padding-top:20px;width:228px;height:344px;overflow:auto;}.menu-product-group .content-slideshow-wrapper .content-slide .custardFlavorSelectors .custardFlavorRow{clear:both;display:inline-block;width:100%;}.menu-product-group .content-slideshow-wrapper .content-slide .custardFlavorSelectors .custardFlavorRow .custardFlavorSelector{width:50%;margin:0;padding:0;display:inline-block;float:left;}.menu-product-group .content-slideshow-wrapper .content-slide .custardFlavorSelectors .custardFlavorRow .custardFlavorSelector a.toggleSecondFlavorSelection{width:100%;display:inline-block;}.menu-product-group .content-slideshow-wrapper .content-slide .custardFlavorSelectors .custardFlavorRow .custardFlavorSelector a.toggleSecondFlavorSelection img{max-width:100%;width:80px;margin:0 auto;display:inline-block;clear:both;} .menu-product-group .content-slideshow-wrapper .content-slide .custardFlavorSelectors .custardFlavorRow .custardFlavorSelector a.toggleSecondFlavorSelection span{margin:0;font-size:14px;} .menu-product-group .content-slideshow-wrapper .content-slide .toppingSelectors{display:inline-block;padding-top:20px;width:228px;height:344px;overflow:auto;display:none;visibility:hidden;}.menu-product-group .content-slideshow-wrapper .content-slide .toppingSelectors select{clear:both;width:80%;margin-left:5%;}.menu-product-group .content-slideshow-wrapper .content-slide .toppingSelectors select option{padding:6px 0;text-align:left;} .press-center-block{width:33%;float:left;padding-bottom:40px;}.press-center-block h2{text-transform:uppercase;font-weight:300;color:#008047;} .press-center-block .press-center-button{border:none;font-family:"freight-sans-pro",helvetica,sans-serif;background:#ef334e;color:#ffffff;font-weight:500;text-align:center;padding:7px 10px;text-transform:uppercase;float:left;clear:left;} .press-center-block .press-center-button:hover{color:#ffffff !important;} .press-center-block .press-topics-dropdown{background:#ffffff;border:1px solid #eee;height:30px;float:left;width:200px;margin-right:10px;} .press-center-block .press-topics-filter{float:left;padding-bottom:20px;} #press-block-2,#press-block-3{width:100%;}#press-block-2 .press-topics-filter,#press-block-3 .press-topics-filter{float:right;margin-top:-40px;padding-bottom:0px;} #press-block-0{width:65%;padding-right:50px;} .slider-section{vertical-align:botTom;height:320px;position:relative;}.slider-section .press-slider-image{vertical-align:bottom;position:absolute;bottom:0;} .slider-section .press-slider-info{position:absolute;width:420px;bottom:0;} #press-slider-pag{text-align:center;margin-top:10px;} #press-slider-pag a{background:url('../plugins/carouFredSel-6.2.0/miscellaneous_sprite.png') 0 -300px no-repeat transparent;width:15px;height:15px;margin:0 5px 0 0;display:inline-block;} #press-slider-pag a span{display:none;} #press-slider-pag a.selected{background-position:-25px -300px;cursor:default;} .press-slider-info{background-color:#686868;padding:5px 10px;width:574px;}.press-slider-info p{-webkit-margin-before:0;-webkit-margin-after:0;} .press-slider-info h3.press-slider-headline{-webkit-margin-before:0;-webkit-margin-after:0;width:350px;}.press-slider-info h3.press-slider-headline a{text-transform:none;text-decoration:none;color:#ffffff;font-size:18px;line-height:24px;margin:0px;}.press-slider-info h3.press-slider-headline a:hover{color:#eee;} .latest-news{float:left;width:25%;}.latest-news .latest-news-header{float:left;} .latest-news .press-date{float:none;-webkit-margin-before:0em;-webkit-margin-after:0em;} .latest-news .latest-news-image{float:left;display:inline-block;padding-right:20px;} .press-center-block .category-press-by-topics{border:0px;margin:0px;padding:0px;} .category-press-by-topics{margin-bottom:30px;padding-bottom:20px;} .photosmash_gallery{display:none;visibility:hidden;} #mission-page-gallery .photosmash_gallery{display:block;visibility:visible;} .collapsible-area.collapsed{overflow:hidden;height:200px;} .article-header{display:inline-block;width:100%;} article{margin:20px 0px;} article.menu-product-group{margin:0 0 20px 0;} #cboxTitle{display:none !important;} .mobile-phone{background:url('../images/ritas/phone.png') no-repeat;height:648px;position:relative;padding-top:134px;padding-left:29px;margin-bottom:100px;margin-top:40px;} .pagination-wrapper-mobile{width:350px !important;left:400px;position:relative;top:-100px;text-align:center;}.pagination-wrapper-mobile a.mobile-app-prev,.pagination-wrapper-mobile a.mobile-app-next{color:#ffffff;background:#ef334e;text-transform:uppercase;font-size:16px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;} .pagination-wrapper-mobile a.mobile-app-prev{padding:2px 10px;margin-right:10px;} .pagination-wrapper-mobile a.mobile-app-next{padding:2px 25px;} .pagination-wrapper-mobile #mobile-app-slider-pag{text-align:center;margin-top:10px;}.pagination-wrapper-mobile #mobile-app-slider-pag a{background:url('../plugins/carouFredSel-6.2.0/miscellaneous_sprite.png') 0 -300px no-repeat transparent;width:15px;height:15px;margin:0 5px 0 0;display:inline-block;}.pagination-wrapper-mobile #mobile-app-slider-pag a span{display:none;} .pagination-wrapper-mobile #mobile-app-slider-pag a.selected{background-position:-25px -300px;cursor:default;} #purchase-app{position:absolute;left:384px;bottom:-12px;}#purchase-app .android,#purchase-app .apple{float:left;width:100%;}#purchase-app .android a,#purchase-app .apple a{display:inline-block;float:left;}#purchase-app .android a img,#purchase-app .apple a img{padding-right:20px;padding-bottom:10px;} #purchase-app .android a.mobileView,#purchase-app .apple a.mobileView{display:none;} h1.mobile-app{float:left;width:300px;left:414px;position:relative;top:50px;} #mobile-app-slider{width:920px !important;}#mobile-app-slider p{font-size:17px;line-height:150%;} #mobile-app-slider .mobile-app-slide{width:891px !important;height:399px;}#mobile-app-slider .mobile-app-slide .mobile-app-slide-background{display:inline-block;clear:none;width:282px;margin-right:100px;} #mobile-app-slider .mobile-app-slide .mobile-app-description{width:400px;clear:none;display:inline-block;vertical-align:top;} #mobile-app-slider h1{text-transform:none;margin:0px;color:#686868;font-size:28px;line-height:28px;font-weight:500;} .blue-background{height:420px;background-color:none;position:absolute;z-index:-9999;top:608px;width:100%;display:block;} img.alignright{float:right;padding-left:20px;} img.alignleft{float:left;padding-right:20px;} h3.toggle{background:none !important;padding:0px !important;}h3.toggle a{font-size:24px;color:#686868;} h3.toggle-active{margin-bottom:0px;} ul.kwayy-page-list a{font-size:18px;margin-top:10px!important;} ul.kwayy-page-list li ul{padding-left:20px;margin:10px 0px 10px 20px !important;}ul.kwayy-page-list li ul a{font-size:14px;} ul.kwayy-page-list li ul li{list-style-type:circle;}ul.kwayy-page-list li ul li a{font-size:14px;color:#686868;} .tweets{width:450px;float:left;margin-right:50px;} .library-post{width:33%;float:left;text-align:center;height:285px;}.library-post .article-header{width:100%;margin-bottom:20px;} .library-post h3.h2 a,.library-post .h2{font-size:16px;color:#686868;line-height:18px !important;} ol.ritas_page_navi{width:100%;float:left;} .social-media-feed{min-width:450px;width:47.5%;clear:none;display:inline-block;float:left;} #twitter-feed.social-media-feed{margin-right:2.5%;} #facebook-feed.social-media-feed{margin-left:2.5%;} #instagram-feed.social-media-feed{width:100%;clear:both;} #map-alternate-selector{display:none;visibility:hidden;}}@media only screen and (max-width:766.99px){.ritas-red{color:#ef334e;} .ritas-green{color:#008047;} .freight-font{font-family:"freight-sans-pro",helvetica,sans-serif;} .nav,.fixed.nav{display:none;visibility:hidden;} .page-title{margin-bottom:0;} .slider-section{vertical-align:botTom;height:330px;position:relative;}.slider-section .press-slider-image{vertical-align:bottom;position:absolute;bottom:0;} .slider-section .press-slider-info{position:absolute;width:420px;bottom:0;}}@media only screen and (min-width:767px){.ritas-red{color:#ef334e;} .ritas-green{color:#008047;} .freight-font{font-family:"freight-sans-pro",helvetica,sans-serif;} .mobileView{display:none;visibility:hidden;} .desktopView{display:inline-block;visibility:visible;} #main{min-height:400px;margin-top:20px;} h1{font-size:32px;line-height:36px;} #static-header-banner,#find-ritas-social-icons{display:none;visibility:hidden;} #header-slideshow-wrapper,#find-ritas-slider-overlay{display:inline-block;visibility:visible;} #find-ritas-slider-overlay{position:absolute;right:50px;top:20px;z-index:9999;} .social-icons-header{right:42px;} #header-slideshow-wrapper{width:100%;height:350px;display:block;margin:0;padding:0;border:none;overflow:hidden;clear:both;position:relative;background:#aad6f3;}#header-slideshow-wrapper #header-logo{top:20px;position:absolute;text-align:center;width:100%;z-index:999;}#header-slideshow-wrapper #header-logo a{position:relative;width:200px;margin:0 auto;display:inline-block;}#header-slideshow-wrapper #header-logo a .logo{width:100%;display:block;border:none;} #header-slideshow-wrapper #header-slideshow{width:100%;height:100%;overflow:hidden;position:relative;border-bottom:none;margin-bottom:0;padding-bottom:0;}#header-slideshow-wrapper #header-slideshow .ritas-banner-slide{position:relative;vertical-align:bottom;height:350px;} #header-slideshow-wrapper #header-slideshow .caroufredsel_wrapper{width:100% !important;} #header-slideshow-wrapper #header-slideshow a.ritas-banner-prev,#header-slideshow-wrapper #header-slideshow a.ritas-banner-next{background:url('../images/ritas/arrow-sprite.png') no-repeat;height:50px;width:33px;display:block;z-index:9999;position:absolute;top:43%;}#header-slideshow-wrapper #header-slideshow a.ritas-banner-prev span,#header-slideshow-wrapper #header-slideshow a.ritas-banner-next span{display:none;} #header-slideshow-wrapper #header-slideshow a.ritas-banner-prev{left:10px;background-position:-50px -61px;} #header-slideshow-wrapper #header-slideshow a.ritas-banner-prev:hover{background-position:-50px -121px;} #header-slideshow-wrapper #header-slideshow a.ritas-banner-prev.disabled{background-position:0 -100px !important;} #header-slideshow-wrapper #header-slideshow a.ritas-banner-next{right:10px;background-position:-6px -61px;} #header-slideshow-wrapper #header-slideshow a.ritas-banner-next:hover{background-position:-6px -121px;} #header-slideshow-wrapper #header-slideshow a.ritas-banner-next.disabled{background-position:-50px -100px !important;} #header-slideshow-wrapper #header-slideshow a.ritas-banner-prev.disabled,#header-slideshow-wrapper #header-slideshow a.ritas-banner-next.disabled{cursor:default;} #header-slideshow-wrapper #header-slideshow .pagination-wrapper{position:absolute;bottom:10px;z-index:7999;}#header-slideshow-wrapper #header-slideshow .pagination-wrapper .pagination{text-align:center;}#header-slideshow-wrapper #header-slideshow .pagination-wrapper .pagination a{background:url('../plugins/carouFredSel-6.2.0/miscellaneous_sprite.png') 0 -300px no-repeat transparent;width:15px;height:15px;margin:0 5px 0 0;display:inline-block;}#header-slideshow-wrapper #header-slideshow .pagination-wrapper .pagination a span{display:none;} #header-slideshow-wrapper #header-slideshow .pagination-wrapper .pagination a.selected{background-position:-25px -300px;cursor:default;} #header-slideshow-wrapper #header-slideshow .clearfix{float:none;clear:both;} #header-links{display:block;position:absolute;width:auto;border-bottom:none;line-height:100%;top:350px;margin-top:75px;right:0px;}#header-links #find-ritas-social-icons{display:none;visibility:hidden;} #header-links #mobile-nav{display:none;visibility:hidden;} #header-links .social-icons-header{display:block;margin-right:2px;margin-top:0px;clear:none;padding-right:5px;} .nav li.parent-menu-item{display:table;vertical-align:middle;} .fixed.nav{display:table;} #sticky-nav li.parent-menu-item{display:table;vertical-align:middle;}#sticky-nav li.parent-menu-item a{display:table-cell;line-height:2.2;vertical-align:middle;} #sticky-nav li.parent-menu-item ul.sub-menu{left:0;top:50px;}#sticky-nav li.parent-menu-item ul.sub-menu li,#sticky-nav li.parent-menu-item ul.sub-menu li a{height:auto;min-height:35px;vertical-align:middle;} #sticky-nav li.parent-menu-item ul.sub-menu li{display:table-cell;text-align:center;} #sticky-nav li.parent-menu-item ul.sub-menu li a{display:block;} ul.menu-main-menu{width:96%;margin:0px auto;border-left:2% #ffffff solid;border-right:2% #ffffff solid;} .menu-up.top-nav li ul.sub-menu{bottom:100%;left:0;} .nav{background:#ef334e;border:0;}.nav li.odd-menu-item a{color:#ffffff;} .nav li.parent-menu-item{display:table;min-height:51px;vertical-align:middle;}.nav li.parent-menu-item a{display:table-cell;line-height:2.2;vertical-align:middle;} .nav li.parent-menu-item .sub-menu li,.nav li.parent-menu-item .sub-menu li a{height:auto;min-height:35px;vertical-align:middle;} .nav li.parent-menu-item .sub-menu li{display:table-cell;text-align:center;} .nav li.parent-menu-item .sub-menu li a{display:block;} .nav li.parent-menu-item.odd-menu-item{background-color:#ef334e;}.nav li.parent-menu-item.odd-menu-item a{color:#ffffff;} .nav li.parent-menu-item.even-menu-item{background-color:#ffffff;}.nav li.parent-menu-item.even-menu-item a{color:#686868;} .nav li{float:left;position:relative;display:block;text-align:center;vertical-align:middle;font-size:13px;width:14.2%;}.nav li a{border-bottom:0;text-transform:uppercase;} .nav li ul.sub-menu,.nav li ul.children{width:100%;border:none;border-top:0;position:absolute;display:none;z-index:8999;border:1px solid #eee;}.nav li ul.sub-menu li,.nav li ul.children li{width:100%;border:none;clear:both;display:inline-block;background:rgba(255, 255, 255, 0.9);}.nav li ul.sub-menu li a,.nav li ul.children li a{padding:5px 10px 5px 10px;border-right:0;display:block;clear:both;width:100%;font-size:13px;color:#686868 !important;}.nav li ul.sub-menu li a:hover,.nav li ul.children li a:hover,.nav li ul.sub-menu li a:focus,.nav li ul.children li a:focus{color:#ef334e !important;} .nav li ul.sub-menu li:last-child a,.nav li ul.children li:last-child a{border-bottom:0;} .nav li:hover ul{top:auto;display:block;} .nav .activeMenuItem{font-weight:normal;} .nav .parent-menu-item{display:table;} .nav .parent-menu-item a{display:table-cell;line-height:2.2;vertical-align:middle;} .nav .parent-menu-item.odd-menu-item a.activeMenuItem{text-decoration:underline;line-height:2.2;} .nav .parent-menu-item.even-menu-item a.activeMenuItem{text-decoration:underline;line-height:2.2;} .nav .sub-menu .menu-item a.activeMenuItem{color:#ef334e !important;} .fixed.nav{background:#ef334e;border:0;position:fixed;height:39px;width:100%;z-index:999999;}.fixed.nav #sticky-nav{width:100%;margin:0px;border-right:none;} .hidden-nav{display:none;visibility:hidden;} #content{margin-top:10px;} #footer-nav-mobile,.mobile-footer-logo{display:none;visibility:hidden;} #footer-left-edge{display:inline-block;visibility:visible;} #footer-logo{text-align:center;} .footer{margin-top:20px;}.footer ul li{} #inner-footer{background:#ef334e;}#inner-footer a{color:#ffffff;} .footer-nav{margin-top:15px;}.footer-nav li{float:left;width:16%;} #menu-footer-menu{display:block;visibility:visible;}#menu-footer-menu li a{text-transform:uppercase;font-weight:600;} #menu-footer-menu li ul li a{text-transform:none;font-weight:400;} ul.subpage-listing li{width:100%;letter-spacing:-0.045em;} #footer-left-edge{display:block;float:left;height:200px;}#footer-left-edge #footer-logo{position:relative;top:-40px;left:-25px;display:block;}#footer-left-edge #footer-logo a,#footer-left-edge #footer-logo a:hover,#footer-left-edge #footer-logo a:visited,#footer-left-edge #footer-logo a:active{text-decoration:none;display:block;}#footer-left-edge #footer-logo a img,#footer-left-edge #footer-logo a:hover img,#footer-left-edge #footer-logo a:visited img,#footer-left-edge #footer-logo a:active img{border:none;display:block;} #footer-left-edge #footer-social{position:relative;top:-50px;left:17px;width:32px;}#footer-left-edge #footer-social .social-icon a,#footer-left-edge #footer-social .social-icon a:visited,#footer-left-edge #footer-social .social-icon a:active,#footer-left-edge #footer-social .social-icon a:hover{display:inline-block;clear:both;width:32px;background:url('../images/ritas/ritas-footer-social-icons.png') no-repeat;} #footer-left-edge #footer-social .social-icon a#facebook{background-position:0 -5px;height:28px;} #footer-left-edge #footer-social .social-icon a#twitter{background-position:0px -37px;height:24px;} #footer-left-edge #footer-social .social-icon a#youtube{background-position:0px -64px;height:24px;} #footer-left-edge #footer-social .social-icon a#instagram{background-position:0px -96px;height:24px;} #footer-left-edge #footer-social .social-icon a#email{background-position:0px -128px;height:24px;} #footer-bottom-right{color:#ffffff;float:right;text-align:center;padding-right:20px;padding-bottom:20px;margin-top:-60px;}#footer-bottom-right p.footer-telno,#footer-bottom-right p.copyright{margin:0px;line-height:28px;color:#ffffff;} .social-crowd-wrapper{padding:15px 0 100px 0;}.social-crowd-wrapper .facebook-stats,.social-crowd-wrapper .twitter-stats,.social-crowd-wrapper .youtube-stats,.social-crowd-wrapper .instagram-stats{float:left;margin-right:0.75%;width:17%;} .social-crowd-wrapper .footer-search-wrapper{float:left;width:28%;display:inline-block;visibility:visible;} #footer-nav-mobile{display:none;visibility:hidden;} .byline{-webkit-margin-before:0.2em !important;-webkit-margin-after:0.2em !important;} input[type="submit"]{border:none;font-family:"freight-sans-pro",helvetica,sans-serif;background:#ef334e;color:#ffffff;font-weight:500;text-align:center;padding:7px 10px;text-transform:uppercase;} blockquote{font-style:italic;font-size:16px;line-height:150%;} .iframed-container{width:95%;padding-left:0;} .desktop-product-menu{display:block;visibility:visible;} .menu-product-group{width:90%;padding-left:5%;}.menu-product-group a.ritas-product-prev,.menu-product-group a.ritas-product-next{position:absolute;top:36%;} .menu-product-group a.ritas-product-prev{left:-50px;background-position:-50px 0px;} .menu-product-group a.ritas-product-next{right:-50px;background-position:-6px 0px;} .menu-product-group .content-slide .flavorRow .flavor{width:100px;height:200px;} #countdown_dashboard{height:110px;}#countdown_dashboard .dash{position:relative;width:110px;height:114px;margin-left:20px;}#countdown_dashboard .dash .dash_title{display:block;position:absolute;bottom:0px;font-size:9pt;letter-spacing:2px;} #countdown_dashboard .dash .digit{font-size:55pt;width:55px;} #sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search label{width:185px;text-align:left;clear:left;float:left;} #sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search input,#sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search select{width:485px;float:left;display:inline-block;margin:0 0 0 10px;}#sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search input option,#sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search select option{font-size:14px;padding:4px;} #sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search #addy_in_radius{float:none;width:auto !important;} #sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search #radius_in_submit{width:680px !important;}#sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search #radius_in_submit input.slp_ui_button{width:100%;margin:0;} #sl_div #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search div{float:none;display:inline-block;} #sl_div #results_table tr.slp_map_search_results #map_sidebar ol.locations-listing li .searchResultsTable{width:96%;margin-left:2%;} #instagram-feed #instagram-placeholder-wrapper .instapress-shortcode .instapress-shortcode-image{width:9%;margin-right:1%;}#instagram-feed #instagram-placeholder-wrapper .instapress-shortcode .instapress-shortcode-image#instapress-shortcode-1-image-6,#instagram-feed #instagram-placeholder-wrapper .instapress-shortcode .instapress-shortcode-image#instapress-shortcode-1-image-7,#instagram-feed #instagram-placeholder-wrapper .instapress-shortcode .instapress-shortcode-image#instapress-shortcode-1-image-8,#instagram-feed #instagram-placeholder-wrapper .instapress-shortcode .instapress-shortcode-image#instapress-shortcode-1-image-9,#instagram-feed #instagram-placeholder-wrapper .instapress-shortcode .instapress-shortcode-image#instapress-shortcode-1-image-10{margin-top:0px;} .slider-section{vertical-align:bottom;height:440px;position:relative;}.slider-section .press-slider-info{width:550px;} ul.subpage-listing li{width:100%;letter-spacing:-0.075em;}}@media only screen and (min-width:850px){.ritas-red{color:#ef334e;} .ritas-green{color:#008047;} .freight-font{font-family:"freight-sans-pro",helvetica,sans-serif;} .menu-product-group .content-slide .flavorRow .flavor{width:105px;height:210px;} #sl_div{font-weight:bold;} #search-results-legend .heading{color:#ef334e;font-size:16px;display:block;} #search-results-legend input[type="checkbox"]{margin-right:5px;} #sl_div #results_table tr.slp_map_search_results #map_sidebar ol.locations-listing li .searchResultsTable td{float:none;} #sl_div #results_table tr.slp_map_search_results #map_sidebar ol.locations-listing li .searchResultsTable td.results_row_left_column{width:200px !important;} #sl_div #results_table tr.slp_map_search_results #map_sidebar ol.locations-listing li .searchResultsTable td.results_row_center_column{width:380px !important;} #sl_div #results_table tr.slp_map_search_results #map_sidebar ol.locations-listing li .searchResultsTable td.results_row_right_column{width:170px !important;} ul.subpage-listing li{width:100%;letter-spacing:0em;}}@media only screen and (min-width:960px){.ritas-red{color:#ef334e;} .ritas-green{color:#008047;} .freight-font{font-family:"freight-sans-pro",helvetica,sans-serif;} .wrap,.social-crowd-wrapper{max-width:960px;} #header-links{margin-top:65px;} .fixed.nav{height:auto;}.fixed.nav #sticky-nav{width:960px;margin:0px auto;border-right:102px #ffffff solid;}.fixed.nav #sticky-nav li.parent-menu-item a{height:auto;vertical-align:middle;} .fixed.nav #sticky-nav li.parent-menu-item ul li a{height:auto;} ul.menu-main-menu{width:960px;margin:0px auto;border-left:102px #ffffff solid;border-right:102px #ffffff solid;} .nav li.parent-menu-item{height:auto;vertical-align:middle;} .menu-product-group{width:880px;padding-left:30px;}.menu-product-group .caroufredsel_wrapper{width:960px !important;} .menu-product-group a.ritas-product-prev,.menu-product-group a.ritas-product-next{position:absolute;top:36%;} .menu-product-group a.ritas-product-prev{left:-50px;background-position:-50px 0px;} .menu-product-group a.ritas-product-prev:hover{background-position:-50px -121px;} .menu-product-group a.ritas-product-prev.disabled{background-position:0 -100px !important;} .menu-product-group a.ritas-product-next{right:-50px;background-position:-6px 0px;} .menu-product-group a.ritas-product-next:hover{background-position:-6px -121px;} .menu-product-group a.ritas-product-next.disabled{background-position:-50px -100px !important;} .menu-product-group a.ritas-product-prev.disabled,.menu-product-group a.ritas-product-next.disabled{cursor:default;} .menu-product-group a.ritas-product-prev span,.menu-product-group a.ritas-product-next span{display:none;} .menu-product-group .pagination-wrapper{position:absolute;bottom:10px;} .menu-product-group .pagination{text-align:center;}.menu-product-group .pagination a{background:url('../plugins/carouFredSel-6.2.0/miscellaneous_sprite.png') 0 -300px no-repeat transparent;width:15px;height:15px;margin:0 5px 0 0;display:inline-block;}.menu-product-group .pagination a.selected{background-position:-25px -300px;cursor:default;} .menu-product-group .pagination a span{display:none;} .menu-product-group .content-slide .flavorRow .flavor{width:120px !important;height:220px;}}@media only screen and (min-width:1024px){.ritas-red{color:#ef334e;} .ritas-green{color:#008047;} .freight-font{font-family:"freight-sans-pro",helvetica,sans-serif;} .menu-product-group{width:960px;padding-left:0;}}
