﻿/*
US Map CSS Rollover Image Map
Developed by: Stan Naspinski -  2006 (mrstan@gmail.com)
Feel free to use this code, recognition would be appreciated!
*/

#imap
{
    display:block;
    width:650px;
    height:400px;
    background:url('../images/us.gif') no-repeat;
    position:relative;
}

/* the hack for IE pre IE6 */
* html #imap a#us {
  height:400px;
  he\ight:0;
  }

#imap a#us
{
    display:block;
    width:0px;
    height:0px;
    padding-top:0px;
    overflow:hidden;
    background:transparent url('../images/us.gif') 650 400 no-repeat);
    position:absolute;
    left:0;
    top:0;
}

#imap a#us:hover
{
    background-position:0 0;
    z-index:10;
}

#imap dd
{
    position:absolute;
    padding:0;
    margin:0;
}

#imap a
{
    display:block;
    text-decoration:none;
    z-index:20;
    /*border:solid 1px black;*/
}



/*ALABAMA*/
#imap #img_al
{
    left:400px;
    top:220px;
    z-index:20;
}
#imap #img_al.notavail
{
  background:url('') -400px -220px;
}
#imap #img_al.avail
{
  background:url('../images/states/pink/al.gif') -400px -220px;
}
#imap #img_al.avail a#al:hover
{
  background:url('../images/states/green/al.gif') -400px -220px;
}
#imap a#al
{
    width:45px;
    height:70px;
}



/*ALASKA*/
#imap #img_ak
{
    left:29px;
    top:275px;
    z-index:20;
}
#imap #img_ak.notavail
{
  background:url('') -29px -275px;
}
#imap #img_ak.avail
{
  background:url('../images/states/pink/ak.gif') -29px -275px;
}

#imap #img_ak.avail a#ak:hover
{
  background:url('../images/states/green/ak.gif') -29px -275px;
}
#imap a#ak
{
    width:100px;
    height:120px;
}



/*ARIZONA*/
#imap #img_az
{
    left:118px;
    top:195px;
    z-index:20;
}
#imap #img_az.notavail
{
  background:url('') -118px -195px;
}
#imap #img_az.avail
{
  background:url('../images/states/pink/az.gif') -118px -195px;
}
#imap #img_az.avail a#az:hover
{
  background:url('../images/states/green/az.gif') -118px -195px;
}
#imap a#az
{
    width:69px;
    height:90px;
}



/*ARKANSAS*/
#imap #img_ar
{
    left:333px;
    top:196px;
    z-index:20;
}
#imap #img_ar.notavail
{
  background:url('') -333px -196px;
}
#imap #img_ar.avail
{
  background:url('../images/states/pink/ar.gif') -333px -196px;
}
#imap #img_ar.avail a#ar:hover
{
  background:url('../images/states/green/ar.gif') -333px -196px;
}
#imap a#ar
{
    width:63px;
    height:59px;
}



/*CALIFORNIA*/
#imap #img_ca
{
    left:16px;
    top:123px;
    z-index:20;
}
#imap #img_ca.notavail
{
  background:url('') -16px -123px;
}
#imap #img_ca.avail
{
  background:url('../images/states/pink/ca.gif') -16px -123px;
}
#imap #img_ca.avail a#ca:hover
{
  background:url('../images/states/green/ca.gif') -16px -123px;
}
#imap a#ca
{
    width:112px;
    height:140px;
}



/*COLORADO*/
#imap #img_co
{
    left:180px;
    top:135px;
    z-index:20;
}
#imap #img_co.notavail
{
  background:url('') -180px -135px;
}
#imap #img_co.avail
{
  background:url('../images/states/pink/co.gif') -180px -135px;
}
#imap #img_co.avail a#co:hover
{
  background:url('../images/states/green/co.gif') -180px -135px;
}
#imap a#co
{
    width:83px;
    height:70px;
}



/*CONNECTICUT*/
#imap #img_ct
{
    left:544px;
    top:123px;
    z-index:22;
}
#imap #img_ct.notavail
{
  background:url('') -544px -123px;
}
#imap #img_ct.avail
{
  background:url('../images/states/pink/ct.gif') -544px -123px;
}
#imap #img_ct.avail a#ct:hover
{
  background:url('../images/states/green/ct.gif') -544px -123px;
}
#imap a#ct
{
    width:30px;
    height:16px;
}



/*DC*/
#imap #img_dc
{
    left:520px;
    top:188px;
    z-index:22;
}
#imap #img_dc.notavail
{
  background:url('') -520px -188px;
}
#imap #img_dc.avail
{
  background:url('../images/states/pink/dc.gif') -520px -188px;
}
#imap #img_dc.avail a#dc:hover
{
  background:url('../images/states/green/dc.gif') -520px -188px;
}
#imap a#dc
{
    width:100px;
    height:22px;
}



/*DELAWARE*/
#imap #img_de
{
    left:529px;
    top:154px;
    z-index:21;
}
#imap #img_de.notavail
{
  background:url('') -529px -154px;
}
#imap #img_de.avail
{
  background:url('../images/states/pink/de.gif') -529px -154px;
}
#imap #img_de.avail a#de:hover
{
  background:url('../images/states/green/de.gif') -529px -154px;
}
#imap a#de
{
    width:27px;
    height:25px;
}



/*FLORIDA*/
#imap #img_fl
{
    left:390px;
    top:280px;
    z-index:20;
}
#imap #img_fl.notavail
{
  background:url('') -390px -280px;
}
#imap #img_fl.avail
{
  background:url('../images/states/pink/fl.gif') -390px -280px;
}
#imap #img_fl.avail a#fl:hover
{
  background:url('../images/states/green/fl.gif') -390px -280px;
}
#imap a#fl
{
    width:110px;
    height:100px;
}



/*GEORGIA*/
#imap #img_ga
{
    left:433px;
    top:223px;
    z-index:20;
}
#imap #img_ga.notavail
{
  background:url('') -433px -223px;
}
#imap #img_ga.avail
{
  background:url('../images/states/pink/ga.gif') -433px -223px;
}
#imap #img_ga.avail a#ga:hover
{
  background:url('../images/states/green/ga.gif') -433px -223px;
}
#imap a#ga
{
    width:55px;
    height:64px;
}



/*HAWAII*/
#imap #img_hi
{
    left:133px;
    top:307px;
    z-index:20;
}
#imap #img_hi.notavail
{
  background:url('') -133px -307px;
}
#imap #img_hi.avail
{
  background:url('../images/states/pink/hi.gif') -133px -307px;
}
#imap #img_hi.avail a#hi:hover
{
    background:url('../images/states/green/hi.gif') -133px -307px;
}
#imap a#hi
{
    width:80px;
    height:55px;
}



/*IDAHO*/
#imap #img_id
{
    left:93px;
    top:26px;
    z-index:20;
}
#imap #img_id.notavail
{
  background:url('') -93px -26px;
}
#imap #img_id.avail
{
  background:url('../images/states/pink/id.gif') -93px -26px;
}
#imap #img_id.avail a#id:hover
{
    background:url('../images/states/green/id.gif') -93px -26px;
}
#imap a#id
{
    width:77px;
    height:105px;
}



/*ILLINOIS*/
#imap #img_il
{
    left:373px;
    top:118px;
    z-index:21;
}
#imap #img_il.notavail
{
  background:url('') -373px -118px;
}
#imap #img_il.avail
{
  background:url('../images/states/pink/il.gif') -373px -118px;
}
#imap #img_il.avail a#il:hover
{
    background:url('../images/states/green/il.gif') -373px -118px;
}
#imap a#il
{
    width:45px;
    height:82px;
}



/*INDIANA*/
#imap #img_in
{
    left:406px;
    top:126px;
    z-index:20;
}
#imap #img_in.notavail
{
  background:url('') -406px -126px;
}
#imap #img_in.avail
{
  background:url('../images/states/pink/in.gif') -406px -126px;
}
#imap a#in:hover
{
    background:url('../images/states/green/in.gif') -406px -126px;
}
#imap a#in
{
    width:40px;
    height:60px;
}



/*IOWA*/
#imap #img_ia
{
    left:311px;
    top:104px;
    z-index:20;
}
#imap #img_ia.notavail
{
  background:url('') -311px -104px;
}
#imap #img_ia.avail
{
  background:url('../images/states/pink/ia.gif') -311px -104px;
}
#imap #img_ia.avail a#ia:hover
{
    background:url('../images/states/green/ia.gif') -311px -104px;
}
#imap a#ia
{
    width:80px;
    height:48px;
}



/*KANSAS*/
#imap #img_ks
{
    left:257px;
    top:149px;
    z-index:20;
}
#imap #img_ks.notavail
{
  background:url('') -257px -149px;
}
#imap #img_ks.avail
{
  background:url('../images/states/pink/ks.gif') -257px -149px;
}
#imap #img_ks.avail a#ks:hover
{
    background:url('../images/states/green/ks.gif') -257px -149px;
}
#imap a#ks
{
    width:86px;
    height:51px;
}



/*KENTUCKY*/
#imap #img_ky
{
    left:394px;
    top:163px;
    z-index:20;
}
#imap #img_ks.notavail
{
  background:url('') -394px -163px;
}
#imap #img_ks.avail
{
  background:url('../images/states/pink/ky.gif') -394px -163px;
}
#imap a#ky:hover
{
    background:url('../images/states/green/ky.gif') -394px -163px;
}
#imap a#ky
{
    width:80px;
    height:42px;
}



/*LOUISIANA*/
#imap #img_la
{
    left:341px;
    top:249px;
    z-index:20;
}
#imap #img_la.notavail
{
  background:url('') -341px -249px;
}
#imap #img_la.avail
{
  background:url('../images/states/pink/la.gif') -341px -249px;
}
#imap #img_la.avail a#la:hover
{
    background:url('../images/states/green/la.gif') -341px -249px;
}
#imap a#la
{
    width:54px;
    height:60px;
}



/*MAINE*/
#imap #img_me
{
    left:591px;
    top:50px;
    z-index:20;
}
#imap #img_me.notavail
{
  background:url('') -591px -50px;
}
#imap #img_me.avail
{
  background:url('../images/states/pink/me.gif') -591px -50px;
}
#imap a#me:hover
{
    background:url('../images/states/green/me.gif') -591px -50px;
}
#imap a#me
{
    width:50px;
    height:66px;
}



/*MARYLAND*/
#imap #img_md
{
    left:507px;
    top:158px;
    z-index:20;
}
#imap #img_md.notavail
{
  background:url('') -507px -158px;
}
#imap #img_md.avail
{
  background:url('../images/states/pink/md.gif') -507px -158px;
}
#imap #img_md.avail a#md:hover
{
    background:url('../images/states/green/md.gif') -507px -158px;
}
#imap a#md
{
    width:60px;
    height:37px;
}



/*MASSACHUSETTS*/
#imap #img_ma
{
    left:560px;
    top:112px;
    z-index:22;
}
#imap #img_ma.notavail
{
  background:url('') -560px -112px;
}
#imap #img_ma.avail
{
  background:url('../images/states/pink/ma.gif') -560px -112px;
}
#imap #img_ma.avail a#ma:hover
{
  background:url('../images/states/green/ma.gif') -560px -112px;
}
#imap a#ma
{
    width:40px;
    height:16px;
}



/*MICHIGAN*/
#imap #img_mi
{
    left:412px;
    top:57px;
    z-index:20;
}
#imap #img_mi.notavail
{
  background:url('') -412px -57px;
}
#imap #img_mi.avail
{
  background:url('../images/states/pink/mi.gif') -412px -57px;
}
#imap #img_mi.avail a#mi:hover
{
    background:url('../images/states/green/mi.gif') -412px -57px;
}
#imap a#mi
{
    width:65px;
    height:75px;
}




/*MINNESOTA*/
#imap #img_mn
{
  left:310px;
  top:20px;
  z-index:20;
}
#imap #img_mn.notavail
{
  background:url('') -310px -20px;
}
#imap #img_mn.avail
{
  background:url('../images/states/pink/mn.gif') -310px -20px;
}
#imap #img_mn.avail a#mn:hover
{
  background:url('../images/states/green/mn.gif') -310px -20px;
}
#imap a#mn
{
  width:75px;
   height:88px;
}



/*MISSISSIPPI*/
#imap #img_ms
{
    left:370px;
    top:223px;
    z-index:21;
}
#imap #img_ms.notavail
{
  background:url('') -370px -223px;
}
#imap #img_ms.avail
{
  background:url('../images/states/pink/ms.gif') -370px -223px;
}
#imap #img_ms.avail a#ms:hover
{
    background:url('../images/states/green/ms.gif') -370px -223px;
}
#imap a#ms
{
    width:42px;
    height:67px;
}




/*MISSOURI*/
#imap #img_mo
{
    left:325px;
    top:144px;
    z-index:20;
}
#imap #img_mo.notavail
{
  background:url('') -325px -144px;
}
#imap #img_mo.avail
{
  background:url('../images/states/pink/mo.gif') -325px -144px;
}
#imap #img_mo.avail a#mo:hover
{
    background:url('../images/states/green/mo.gif') -325px -144px;
}
#imap a#mo
{
    width:73px;
    height:63px;
}



/*MONTANA*/
#imap #img_mt
{
    left:110px;
    top:24px;
    z-index:21;
}
#imap #img_mt.notavail
{
  background:url('') -110px -24px;
}
#imap #img_mt.avail
{
  background:url('../images/states/pink/mt.gif') -110px -24px;
}
#imap #img_mt.avail a#mt:hover
{
    background:url('../images/states/green/mt.gif') -110px -24px;
}
#imap a#mt
{
    width:129px;
    height:71px;
}



/*NEBRASKA*/
#imap #img_ne
{
    left:234px;
    top:110px;
    z-index:20;
}
#imap #img_ne.notavail
{
  background:url('') -234px -110px;
}
#imap #img_ne.avail
{
  background:url('../images/states/pink/ne.gif') -234px -110px;
}
#imap #img_ne.avail a#ne:hover
{
    background:url('../images/states/green/ne.gif') -234px -110px;
}
#imap a#ne
{
    width:97px;
    height:48px;
}



/*NEVADA*/
#imap #img_nv
{
    left:62px;
    top:122px;
    z-index:21;
}
#imap #img_nv.notavail
{
  background:url('') -62px -122px;
}
#imap #img_nv.avail
{
  background:url('../images/states/pink/nv.gif') -62px -122px;
}
#imap #img_nv.avail a#nv:hover
{
 background:url('../images/states/green/nv.gif') -62px -122px;
}
#imap a#nv
{
    width:71px;
    height:97px;
}



/*NEW HAMPSHIRE*/
#imap #img_nh
{
    left:577px;
    top:78px;
    z-index:20;
}
#imap #img_nh.notavail
{
  background:url('') -577px -78px;
}
#imap #img_nh.avail
{
  background:url('../images/states/pink/nh.gif') -577px -78px;
}
#imap #img_nh.avail a#nh:hover
{
    background:url('../images/states/green/nh.gif') -577px -78px;
}
#imap a#nh
{
    width:20px;
    height:41px;
}



/*NEW JERSEY*/
#imap #img_nj
{
    left:542px;
    top:132px;
    z-index:21;
}
#imap #img_nj.notavail
{
  background:url('') -542px -132px;
}
#imap #img_nj.avail
{
    background:url('../images/states/pink/nj.gif') -542px -132px;
}
#imap #img_nj.avail a#nj:hover
{
    background:url('../images/states/green/nj.gif') -542px -132px;
}
#imap a#nj
{
    width:23px;
    height:34px;
}



/*NEW MEXICO*/
#imap #img_nm
{
    left:180px;
    top:196px;
    z-index:21;
}
#imap #img_nm.notavail
{
  background:url('') -180px -196px;
}
#imap #img_nm.avail
{
    background:url('../images/states/pink/nm.gif') -180px -196px;
}
#imap #img_nm.avail a#nm:hover
{
    background:url('../images/states/green/nm.gif') -180px -196px;
}
#imap a#nm
{
    width:71px;
    height:82px;
}



/*NEW YORK*/
#imap #img_ny
{
    left:493px;
    top:81px;
    z-index:20;
}
#imap #img_ny.notavail
{
  background:url('') -493px -81px;
}
#imap #img_ny.avail
{
    background:url('../images/states/pink/ny.gif') -493px -81px;
}
#imap #img_ny.avail a#ny:hover
{
    background:url('../images/states/green/ny.gif') -493px -81px;
}
#imap a#ny
{
    width:76px;
    height:58px;
}



/*NORTH CAROLINA*/
#imap #img_nc
{
    left:450px;
    top:201px;
    z-index:20;
}
#imap #img_nc.notavail
{
  background:url('') -450px -201px;
}
#imap #img_nc.avail
{
    background:url('../images/states/pink/nc.gif') -450px -201px;
}
#imap #img_nc.avail a#nc:hover
{
    background:url('../images/states/green/nc.gif') -450px -201px;
}
#imap a#nc
{
    width:87px;
    height:39px;
}



/*NORTH DAKOTA*/
#imap #img_nd
{
    left:234px;
    top:27px;
    z-index:20;
}
#imap #img_nd.notavail
{
  background:url('') -234px -27px;
}
#imap #img_nd.avail
{
    background:url('../images/states/pink/nd.gif') -234px -27px;
}
#imap #img_nd.avail a#nd:hover
{
    background:url('../images/states/pink/nd.gif') -234px -27px;
}
#imap a#nd
{
    width:85px;
    height:47px;
}



/*OHIO*/
#imap #img_oh
{
    left:442px;
    top:126px;
    z-index:20;
}
#imap #img_oh.notavail
{
  background:url('') -442px -126px;
}
#imap #img_oh.avail
{
    background:url('../images/states/pink/oh.gif') -442px -126px;
}
#imap #img_oh.avail a#oh:hover
{
    background:url('../images/states/green/oh.gif') -442px -126px;
}
#imap a#oh
{
    width:51px;
    height:52px;
}



/*OKLAHOMA*/
#imap #img_ok
{
    left:245px;
    top:195px;
    z-index:21;
}
#imap #img_ok.notavail
{
  background:url('') -245px -195px;
}
#imap #img_ok.avail
{
    background:url('../images/states/pink/ok.gif') -245px -195px;
}
#imap #img_ok.avail a#ok:hover
{
    background:url('../images/states/green/ok.gif') -245px -195px;
}
#imap a#ok
{
    width:99px;
    height:47px;
}



/*OREGON*/
#imap #img_or
{
    left:15px;
    top:66px;
    z-index:20;
}
#imap #img_or.notavail
{
  background:url('') -15px -66px;
}
#imap #img_or.avail
{
    background:url('../images/states/pink/or.gif') -15px -66px;
}
#imap #img_or.avail a#or:hover
{
    background:url('../images/states/green/or.gif') -15px -66px;
}
#imap a#or
{
    width:85px;
    height:60px;
}



/*PENNSYLVANIA*/
#imap #img_pa
{
    left:487px;
    top:123px;
    z-index:20;
}
#imap #img_pa.notavail
{
  background:url('') -487px -123px;
}
#imap #img_pa.avail
{
  background:url('../images/states/pink/pa.gif') -487px -123px;
}
#imap #img_pa.avail a#pa:hover
{
  background:url('../images/states/green/pa.gif') -487px -123px;
}
#imap a#pa
{
    width:63px;
    height:40px;
}



/*RHODE ISLAND*/
#imap #img_ri
{
    left:568px;
    top:124px;
    z-index:20;
}
#imap #img_ri.notavail
{
  background:url('') -568px -124px;
}
#imap #img_ri.avail
{
  background:url('../images/states/pink/ri.gif') -568px -124px;
}
#imap #img_ri.avail a#ri:hover
{
    background:url('../images/states/green/ri.gif') -568px -124px;
}
#imap a#ri
{
    width:30px;
    height:20px;
}



/*SOUTH CAROLINA*/
#imap #img_sc
{
    left:460px;
    top:220px;
    z-index:20;
}
#imap #img_sc.notavail
{
  background:url('') -460px -220px;
}
#imap #img_sc.avail
{
    background:url('../images/states/pink/sc.gif') -460px -220px;
}
#imap #img_sc.avail a#sc:hover
{
    background:url('../images/states/green/sc.gif') -460px -220px;
}
#imap a#sc
{
    width:53px;
    height:46px;
}



/*SOUTH DAKOTA*/
#imap #img_sd
{
    left:234px;
    top:68px;
    z-index:20;
}
#imap #img_sd.notavail
{
  background:url('') -234px -68px;
}
#imap #img_sd.avail
{
    background:url('../images/states/pink/sd.gif') -234px -68px;
}
#imap #img_sd.avail a#sd:hover
{
    background:url('../images/states/green/sd.gif') -234px -68px;
}
#imap a#sd
{
    width:89px;
    height:52px;
}



/*TENNESSEE*/
#imap #img_tn
{
    left:385px;
    top:199px;
    z-index:20;
}
#imap #img_tn.notavail
{
  background:url('') -385px -199px;
}
#imap #img_tn.avail
{
     background:url('../images/states/pink/tn.gif') -385px -199px;
}
#imap #img_tn.avail a#tn:hover
{
    background:url('../images/states/green/tn.gif') -385px -199px;
}
#imap a#tn
{
    width:90px;
    height:29px;
}



/*TEXAS*/
#imap #img_tx
{
    left:209px;
    top:201px;
    z-index:20;
}
#imap #img_tx.notavail
{
  background:url('') -209px -201px;
}
#imap #img_tx.avail
{
    background:url('../images/states/pink/tx.gif') -209px -201px;
}
#imap #img_tx.avail a#tx:hover
{
    background:url('../images/states/green/tx.gif') -209px -201px;
}
#imap a#tx
{
    width:142px;
    height:170px;
}



/*UTAH*/
#imap #img_ut
{
    left:124px;
    top:123px;
    z-index:20;
}
#imap #img_ut.notavail
{
  background:url('') -124px -123px;
}
#imap #img_ut.avail
{
    background:url('../images/states/pink/ut.gif') -124px -123px;
}
#imap #img_ut.avail a#ut:hover
{
    background:url('../images/states/green/ut.gif') -124px -123px;
}
#imap a#ut
{
    width:62px;
    height:78px;
}



/*VERMONT*/
#imap #img_vt
{
    left:562px;
    top:70px;
    z-index:20;
}
#imap #img_vt.notavail
{
  background:url('') -562px -70px;
}
#imap #img_vt.avail
{
    background:url('../images/states/pink/vt.gif') -562px -70px;
}
#imap #img_vt.avail a#vt:hover
{
    background:url('../images/states/green/vt.gif') -562px -70px;
}
#imap a#vt
{
    width:22px;
    height:46px;
}



/*VIRGINIA*/
#imap #img_va
{
    left:462px;
    top:169px;
    z-index:21;
}
#imap #img_va.notavail
{
  background:url('') -462px -169px;
}
#imap #img_va.avail
{
    background:url('../images/states/pink/va.gif') -462px -169px;
}
#imap #img_va.avail a#va:hover
{
    background:url('../images/states/green/va.gif') -462px -169px;
}
#imap a#va
{
    width:68px;
    height:37px;
}



/*WASHINGTON*/
#imap #img_wa
{
    left:13px;
    top:22px;
    z-index:20;
}
#imap #img_wa.notavail
{
  background:url('') -13px -22px;
}
#imap #img_wa.avail
{
    background:url('../images/states/pink/wa.gif') -13px -22px;
}
#imap #img_wa.avail a#wa:hover
{
    background:url('../images/states/green/wa.gif') -13px -22px;
}
#imap a#wa
{
    width:88px;
    height:56px;
}



/*WEST VIRGINIA*/
#imap #img_wv
{
    left:469px;
    top:155px;
    z-index:22;
}
#imap #img_wv.notavail
{
  background:url('') -469px -155px;
}
#imap #img_wv.avail
{
    background:url('../images/states/pink/wv.gif') -469px -155px;
}
#imap #img_wv.avail a#wv:hover
{
    background:url('../images/states/green/wv.gif') -469px -155px;
}
#imap a#wv
{
    width:42px;
    height:39px;
}



/*WISCONSIN*/
#imap #img_wi
{
    left:356px;
    top:58px;
    z-index:20;
}
#imap #img_wi.notavail
{
  background:url('') -356px -58px;
}
#imap #img_wi.avail
{
    background:url('../images/states/pink/wi.gif') -356px -58px;
}
#imap #img_wi.avail a#wi:hover
{
    background:url('../images/states/green/wi.gif') -356px -58px;
}
#imap a#wi
{
    width:62px;
    height:67px;
}



/*WYOMING*/
#imap #img_wy
{
    left:159px;
    top:81px;
    z-index:20;
}
#imap #img_wy.notavail
{
  background:url('') -159px -81px;
}
#imap #img_wy.avail
{
    background:url('../images/states/pink/wy.gif') -159px -81px;
}
#imap a#wy:hover
{
    background:url('../images/states/green/wy.gif') -159px -81px;
}
#imap a#wy
{
    width:81px;
    height:62px;
}




#imap a span, #imap a:visited span
{
    display:none;
}


#imap a span, #imap a:visited span
{
    display:none;
}


/*#imap a span, #imap a:visited span
{
    display:none;
}
#imap a:hover span
{
    width:110px;
    height:20px;
    display:block;
    color:White;
    background:black;
    border:solid 1px white;
    font-weight:bold;
    padding-left:3px;
}

#imap a#mn:hover span
{
    top:30px;
}*/