/******************************************************************
Site Name:  RitasIce.com
Author:  Anson Han, Sayra Lopez

Stylesheet: 480px and Below Stylesheet

------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER SYTLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGINATION STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES
14. CUSTOM PAGE & BLOCK TEMPLATES

******************************************************************/


/*********************
01. GENERAL STYLES
*********************/
@import "_preprocessor_variables.less";

/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/

/*********************
03. LAYOUT & GRID STYLES
*********************/

/*********************
04. LINK STYLES
*********************/

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/

/*********************
06. HEADER STYLES
*********************/

/*********************
07. NAVIGATION STYLES
*********************/

/*********************
08. POSTS & CONTENT STYLES
*********************/

/************************
09. PAGINATION STYLES
*************************/

/***********************
10. COMMENT STYLES
************************/

/***********************
11. COMMENT FORM STYLES
************************/

/*********************
12. SIDEBARS & ASIDES
*********************/

/*********************
13. FOOTER STYLES
*********************/

/*******************************
14. CUSTOM PAGE & BLOCK STYLES
********************************/



/* ### ANSON SORT THESE STYLES INTO PLACE ### */
#main {
    article {
        img {
            margin: 0 auto;
            width: 100%;
            max-width: 320px;
            display: inline-block;
        }
    }
}

.directory {
    td {
    width: 100% !important;
    padding-right: 0 !important;
    }
}