/******************************************************************
Site Name:  RitasIce.com
Author:  Anson Han, Sayra Lopez

Stylesheet: 639px and Below Stylesheet


------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER SYTLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGINATION STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES
14. CUSTOM PAGE & BLOCK TEMPLATES

******************************************************************/


/*********************
01. GENERAL STYLES
*********************/
@import "_preprocessor_variables.less";

/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/

/*********************
03. LAYOUT & GRID STYLES
*********************/

/*********************
04. LINK STYLES
*********************/

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/

/*********************
06. HEADER STYLES
*********************/

/*********************
07. NAVIGATION STYLES
*********************/

/*********************
08. POSTS & CONTENT STYLES
*********************/

/************************
09. PAGINATION STYLES
*************************/

/***********************
10. COMMENT STYLES
************************/

/***********************
11. COMMENT FORM STYLES
************************/

/*********************
12. SIDEBARS & ASIDES
*********************/

/*********************
13. FOOTER STYLES
*********************/

#footer-logo {
 text-align: center;   
}
/*******************************
14. CUSTOM PAGE & BLOCK STYLES
********************************/

/* Store Locator Search Results */
#sl_div #search_table {
    #addy_in_state #addressInputState {
        width: 35%;   
    }
    #search_by_tag #tag_to_search_for {
        width: 20%;   
    }
    #addy_in_address #addressInput {
        width: 36%;   
    }
} // #sl_div #search_table

/* ### ANSON SORT THESE STYLES INTO PLACE ### */

#slideshow214-slide1, #slideshow214-slide2, #slideshow214-slide3,  #slideshow214-slide4, 
#slideshow820-slide1, #slideshow820-slide2, #slideshow820-slide3, #slideshow818-slide1, #slideshow818-slide2,
#slideshow238-slide1, #slideshow238-slide2, #slideshow244-slide1, #slideshow244-slide2, #slideshow244-slide3,
#slideshow244-slide4, #slideshow244-slide5, #slideshow246-slide1, #slideshow246-slide2, #slideshow246-slide3, #slideshow246-slide4, 
#slideshow541-slide1, #slideshow541-slide2, #slideshow541-slide3, #slideshow541-slide4, #slideshow556-slide1, #slideshow556-slide2, #slideshow554-slide1, #slideshow554-slide2,
.ritas-product-prev, .ritas-product-next{
 display: none;
 visibility: hidden;
}

.product-description td {
 float: left;   
}

.directory {
    width: 100% !important;
}

.entry-content table.directory td {
 float: left;   
}


#mobile-app-slider, .caroufredsel_wrapper, #mobile-app-slider {
 display: none;
 visibility: hidden;
}


#main {
    article {
        img {
            margin: 0 auto;
            width: 100%;
            max-width: 300px;
            height: auto;
            display: inline-block;
        }
    }
    article .nutritionInfo {
        img.productThumbnail {
            max-width: 85px;
            max-height: 125px;
            display: inline-block;
            float: left;
            padding-right: 10px;
        }
    }
}