/******************************************************************
Site Name:  RitasIce.com
Author:  Anson Han, Sayra Lopez

Stylesheet: 640px and Up Stylesheet


------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER SYTLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGINATION STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES
14. CUSTOM PAGE & BLOCK TEMPLATES

******************************************************************/


/*********************
01. GENERAL STYLES
*********************/
@import "_preprocessor_variables.less";

/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/

/*********************
03. LAYOUT & GRID STYLES
*********************/

/*********************
04. LINK STYLES
*********************/

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/


/*********************
06. HEADER STYLES
*********************/

/*********************
07. NAVIGATION STYLES
*********************/

/*********************
08. POSTS & CONTENT STYLES
*********************/

/************************
09. PAGINATION STYLES
*************************/

/***********************
10. COMMENT STYLES
************************/

/***********************
11. COMMENT FORM STYLES
************************/

/*********************
12. SIDEBARS & ASIDES
*********************/
.sidebar {
    margin-top: 2.2em;
}

    .widgettitle {
    	border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


    .expander-ui {
            width: 45px;
            vertical-align: middle;
            background: url('../images/ritas/arrow-sprite.png') no-repeat;
            background-position: -88px -15px;
            cursor: pointer;
            padding-bottom: 12px;
            display: block;
            height: 50px;
            margin: 10px auto 0px auto;
    }
    
    .expander-ui:hover {
     background: url('../images/ritas/arrow-sprite.png') no-repeat;
            background-position: -88px -134px;   
    }
    
    .collapser-ui {
            width: 45px;
            vertical-align: middle;
            background: url('../images/ritas/arrow-sprite.png') no-repeat;
            background-position: -132px -15px;
            cursor: pointer;
            padding-bottom: 12px;
            display: block;
            height: 50px;
            margin: 10px auto 0px auto;
    }
    
    .collapser-ui:hover {
        background-position: -132px -135px;
    }

	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}
    
/*********************
13. FOOTER STYLES
*********************/

/* FOOTER SOCIAL CROWD */
.social-crowd-wrapper {
 margin: 0px auto;
 padding: 25px 0 100px 0;

     .facebook-stats, .twitter-stats, .youtube-stats, .instagram-stats {
        float: left;
        margin-right: 0.75%;
        width: 15%;
    }

    .footer-search-wrapper {
        float: left;
        width: 36%;
        display: inline-block;
        visibility: visible;

        .footer-search-input {
            height: 32px;
            width: 72%;
            float: left;
            border: 1px solid @ritas-light-gray;
            padding:  4px;
        }
        
        .search-submit {
           border: none;
           font-family: @ritas-font;
           font-size: 14px;
           background: @ritas-red;
           color: @white;
           font-weight: 500;
           text-align: center;
           padding: 7px 10px;
           text-transform: uppercase;
           float: left;
           width: 28%;
        }
    }

    img, p {
    float: left;
    margin-top: 0px;
    }
    
    img {
    padding-right: 10px;
    }
    
    .social-crowd-numbers {
     font-size: 20px;   
    }
        

}
/*******************************
14. CUSTOM PAGE & BLOCK STYLES
********************************/

/* store locator search form customizations */
#sl_div {
    font-weight: bold;
    #search_table {
        width: 100%;
    } //#search_table
} //#sl_div


/* Countdown Dashboard for First Day of Spring Page */
#countdown_dashboard {
    height: 8em;

    .dash {
        position: relative;
        width: auto;
        height: 7em;
        margin-left: 1.25em;
    
        .dash_title {
            display: block;
            position: absolute;
            bottom: 0px;
            text-align: right;
            width: 100%;
            font-size: 9pt;
            letter-spacing: 2px;
        }

        .digit {
            font-size: 5em;
            width: 48px;
            line-height: 81px;
        }
    } //.dash
} //#countdown_dashboard


/* Galleries */
.collapsible-control {
    display: block;
    visibility: visible;
}

/* Featured Products/Flavors/Nutritional Info */
.iframed-container {
    width: 100%;
    padding-left: 0;
}
.menu-product-group {
    clear: both;
    display: inline-block;
    padding-left: 0px;
    width: 100%;
    
    h1.product-title {
        padding-left:0px;
    }
    
    //caroufredsel 
    .caroufredsel_wrapper { width: 100% !important; }
    //caroufredsel slideshow-controls
    a.ritas-product-prev, a.ritas-product-next {
        background: url('../images/ritas/arrow-sprite.png') no-repeat;
        height: 50px;
        width: 33px;
        display: block;
        position: absolute;
        top: 36%;
    }
    a.ritas-product-prev { left: -50px; background-position: -50px 0px;  }
    a.ritas-product-prev:hover { background-position: -50px -121px; }
    a.ritas-product-prev.disabled {	background-position: 0 -100px !important;  }
    a.ritas-product-next { right: -50px; background-position: -6px 0px; }
    a.ritas-product-next:hover { background-position: -6px -121px; }
    a.ritas-product-next.disabled {	background-position: -50px -100px !important;  }
    a.ritas-product-prev.disabled, a.ritas-product-next.disabled { cursor: default; }
    a.ritas-product-prev span, a.ritas-product-next span { display: none; }
    .pagination-wrapper { position: absolute; bottom: 10px; }
    .pagination { 
        text-align: center; 
        a {
            background: url('../plugins/carouFredSel-6.2.0/miscellaneous_sprite.png') 0 -300px no-repeat transparent;
        	width: 15px;
        	height: 15px;
        	margin: 0 5px 0 0;
        	display: inline-block;
            &.selected { background-position: -25px -300px; cursor: default; }
            span { display: none; }
        }
    }
    .clearfix {
    	float: none;
    	clear: both;
        position: relative;
    }
    //caroufredsel slideshow-controls
    
    .content-slideshow-wrapper {
    display: inline-block;

    .slideshow-nav-wrapper { display: inline-block; }
    .slideshow-nav-left {
        display: inline-block;
        width: 37px;
        text-align: right;
        vertical-align: middle;
        background: url('../images/ritas/arrow-sprite.png') no-repeat;
        background-position: -52px -9px;
        height: 50px;
        cursor: pointer;
        &:hover {
            background: url('../images/ritas/arrow-sprite.png') no-repeat;
            background-position: -52px -127px;
        }
    } //.slideshow-nav-left
    .slideshow-nav-right {
        display: inline-block;
        width: 33px;
        text-align: right;
        vertical-align: middle;
        background: url('../images/ritas/arrow-sprite.png') no-repeat;
        background-position: -6px -9px;
        height: 50px;
        cursor: pointer;
        &:hover {
            background: url('../images/ritas/arrow-sprite.png') no-repeat;
            background-position: -6px -127px;
        }
    } //.slideshow-nav-right

    .content-slide.hidden { display: none; visibility: hidden; }

    .content-slide {
    
        .featured-image {
            display: inline-block;
            margin: 10px 10px 10px 0;
            width: 200px;
            height: 250px;
            background:#999;
            float: left;
            img { width:100%; }
        } // .featured-image
    
        .product-description {
            display: inline-block;
            padding: 10px 0 10px 0;
            width: auto;
            font-size: 16px;
            line-height: 23px;
        }
    
        .flavorRow {
            display: inline-block;
            clear: both;
            width: 100%;
            padding: 0;
        
            .flavor {
                display: inline-block;
                position: relative;
                padding-right: 5.83333px;
                width: 95px;
                height: 200px;
                vertical-align: top;
                text-align: center;
            
                a.toggleNutritionInfo {
                    text-decoration: none;
                
                    img {
                        clear: both;
                        margin: 0 auto !important;
                        max-width: 85px;
                        max-height: 140px;
                    }
                    p {
                        font-size: 12px;
                        margin: 0;
                        color: @ritas-green;
                        text-align: center;
                    }
                } // a
            
                .nutritionInfoOverlay {
                    position: absolute;
                    width: 490px;
                    height: 400px;
                    display:none;
                    visibility:hidden;
                    background: @ritas-offwhite;
                    border: 1px solid red;
                    box-shadow: 1px 1px 3px #999;
                    z-index: 99999;
                    
                    .right-block { height: 100%; }
                    
                    .selectorBlock {
                        float: right;
                        width: 140px;
                        display:block;
                        text-transform: uppercase;
                        font-family: @ritas-font;
                        font-size: 11px;
                        background: @white;
                        border-left: 1px solid #999;
                        border-bottom: 1px solid #eee;
                        height: 100%;
                        
                        .servingSizeSelectors {
                            text-align: center;   
                            
                            .servingSizeSelector {
                                clear: both;
                                display: inline-block;
                                width: 100%;
                                background: @white;
                                padding: 6px 0px;
                                cursor: pointer;
                                &:hover { color: @ritas-red; }
                            } //.servingSizeSelector
                            .selectedServingSize {
                                background: @ritas-red !important;
                                color: @white;
                                &:hover { color: @white !important; }
                            } //.selectedServingSize
                        
                        } //.servingSizeSelectors
                        
                        .secondaryFlavorSelectors {
                            text-align: center;   
                            clear: both;
                            display: inline-block;
                            width: 100%;
                            background: @white;
                            cursor: pointer;
                            border-top: 1px double #333;
                            margin-top: 6px;
                        
                            .secondaryFlavorSelector {
                                white-space: normal;
                                clear: both;
                                display: inline-block;
                                width: 100%;
                            } //.secondaryFlavorSelector
                            .selectedSecondFlavor {
                                padding: 6px 0px;
                                background: @ritas-red !important;
                                color: @white;
                            }
                            .resetSecondFlavor {
                                padding: 6px 0px;
                                .chooseAnotherFlavor {
                                    background: @white;
                                    color: #686868;
                                }
                                .chooseAnotherFlavor:hover {
                                    color: @ritas-red !important;
                                }
                            } //.resetSecondFlavor
                        } //.secondaryFlavorSelectors
                        
                        .tertiaryFlavorSelectors {
                            text-align: center;   
                            clear: both;
                            display: inline-block;
                            width: 100%;
                            background: @white;
                            cursor: pointer;
                            border-top: 1px double #333;
                            margin-top: 6px;
                            
                            .tertiaryFlavorSelector {
                                white-space: normal;
                                clear: both;
                                display: inline-block;
                                width: 100%;
                            } //.tertiaryFlavorSelector
                            .selectedTopping {
                                padding: 6px 0px;
                                background: @ritas-red !important;
                                color: @white;
                            } //.selectedTopping
                            .resetTopping {
                                padding: 6px 0px;
                                .chooseAnotherTopping {
                                    background: @white;
                                    color: #686868;
                                }
                                .chooseAnotherTopping:hover {
                                    color: @ritas-red !important;
                                }
                            } //.resetTopping
                        } //.tertiaryFlavorSelectors
                    
                    } //.selectorBlock
                
                    div.flavorTitle {
                        font-family: @ritas-font;
                        color: @ritas-green;
                        font-size: 13px;
                        text-transform: uppercase;
                        font-weight: 700;
                        white-space: normal;
                        width: 100%;
                    } 
                
                    .nutritionInfoThumb {
                        float: left;
                        display: inline-block;
                        padding: 10px;
                        width: 120px;
                        
                        img {
                            margin: 0 auto !important;
                            max-width: 85px;
                            max-height: 125px;
                        }                        
                    } //.nutritionInfoThumb
                
                    .nutritionInfo {
                        font-family:monospace;
                        float:left;
                        display:inline-block;
                        padding: 10px 0 0;
                        width: 228px;
                        max-height: 425px;
                        overflow-y: auto;
                        background: @ritas-offwhite;
                        font-family: @ritas-font;
                    
                        table {
                            line-height: 1.4em;
                            font-size: 13px;
                        
                            .nutritionCategory {
                                width: 140px;
                                text-align: left;
                            }
                            .nutritionStat {
                                width: 40px;
                            }
                        } //table
                    } // .nutritionInfo
                } // .nutritionInfoOverlay
            } // .flavor
        } // .flavorRow
        
        .flavorRow.bottomFlavorRow .flavor .nutritionInfoOverlay { bottom: -5px; }
        .flavorRow.topFlavorRow .flavor .nutritionInfoOverlay { top: 0; }
        .flavorRow .flavor.leftAlignNutrition .nutritionInfoOverlay { left: 0; }
        .flavorRow .flavor.rightAlignNutrition .nutritionInfoOverlay { right: 0; }
        
        .custardFlavorSelectors { 
            display: inline-block;
            padding-top: 20px;
            width: 228px;
            height: 344px;
            overflow: auto;
        
            .custardFlavorRow {
                clear: both;
                display: inline-block;
                width: 100%;
                
                .custardFlavorSelector {
                    width: 50%;
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    float: left;
                    
                    a.toggleSecondFlavorSelection {
                        width: 100%;
                        display: inline-block;
                    
                    img {
                        max-width: 100%;
                        width: 80px;
                        margin: 0 auto;
                        display: inline-block;
                        clear: both;
                    }
                    
                    span {
                        margin: 0;
                        font-size: 14px;
                    }
                    } // a.toggleSecondFlavorSelection
                } //.custardFlavorSelector
            } //.custardFlavorRow
        
        } // .custardFlavorSelectors
        
        .toppingSelectors { 
            display: inline-block;
            padding-top: 20px;
            width: 228px;
            height: 344px;
            overflow: auto;
            display: none;
            visibility: hidden;
        
            select {
                clear: both;
                width: 80%;
                margin-left: 5%;
                
                option {
                    padding: 6px 0;
                    text-align: left;
                }
            }
        } // .toppingSelectors
    
    } // .content-slide
} // .content-slideshow-wrapper

} // .menu-product-group




/* ### ANSON SORT THESE STYLES INTO PLACE ### */


/* press center */
.press-center-block {
    width: 33%;
    float: left;
    padding-bottom: 40px;
    
    h2 {
        text-transform: uppercase;
        font-weight: 300;
        color: @ritas-green;
    }
    
    .press-center-button {
       border: none;
       font-family: @ritas-font;
       background: @ritas-red;
       color: @white;
       font-weight: 500;
       text-align: center;
       padding: 7px 10px;
       text-transform: uppercase;
       float:left;
       clear: left;
    }
    
    .press-center-button:hover {
     color: @white !important;   
    }
    
    .press-topics-dropdown {
     background: @white;
     border: 1px solid #eee;
     height: 30px;
     float: left;
     width: 200px;
     margin-right: 10px;
    }
    
    .press-topics-filter {
     float: left;
     padding-bottom: 20px;
    }
    
}

#press-block-2, #press-block-3 {
 width: 100%;   
 
    .press-topics-filter {
     float: right;
     margin-top: -40px;
     padding-bottom: 0px;
    }
 
}

#press-block-0 {
width: 65%;
padding-right: 50px;
}

 .slider-section {
        vertical-align: botTom;
        height: 320px;
        position: relative;
            
        .press-slider-image {
            vertical-align: bottom;
            position: absolute;
            bottom: 0;
        }
       .press-slider-info {
            position: absolute;
            width: 420px;
            bottom: 0;
       }
    } //.slider-section


   #press-slider-pag {
            text-align: center;
             margin-top: 10px;
        }
        #press-slider-pag a {
            background: url('../plugins/carouFredSel-6.2.0/miscellaneous_sprite.png') 0 -300px no-repeat transparent;
        	width: 15px;
        	height: 15px;
        	margin: 0 5px 0 0;
        	display: inline-block;
        }
        
        #press-slider-pag a span {
        display: none;
        }
        #press-slider-pag a.selected {
        	background-position: -25px -300px;
        	cursor: default;
        }
        
    .press-slider-info {
     background-color: @ritas-dark-gray;   
     padding: 5px 10px;
     width: 574px;
     
     p {   -webkit-margin-before: 0;
            -webkit-margin-after: 0; }
     
     h3.press-slider-headline {
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            width: 350px;
            a {
                text-transform: none;
                text-decoration: none;
                color: @white;
                font-size: 18px;
                line-height: 24px;
                margin: 0px;
                &:hover {color: #eee; }
            }
        }
     
    } //.press-slider-info

.latest-news {
     float: left;
     width: 25%;
     
     .latest-news-header {
        float: left;
               
    } //.press-release-header
    
     .press-date {
     float: none;   
     -webkit-margin-before: 0em;
     -webkit-margin-after: 0em;
    }    
    .latest-news-image {
        float: left;
        display: inline-block;
        padding-right: 20px
        }  
}


  .press-center-block .category-press-by-topics{
   border: 0px;
   margin: 0px;
   padding: 0px;
  }

    .category-press-by-topics{
    // border-bottom: 1px solid @ritas-light-gray;   
     margin-bottom: 30px;
    padding-bottom: 20px
    }




/* Featured Products/Flavors/Nutritional Info */

// Photosmash Gallery on Mission page
.photosmash_gallery {
    display: none;
    visibility: hidden;

}
#mission-page-gallery .photosmash_gallery {
    display: block;
    visibility: visible;
}

.collapsible-area.collapsed {
       overflow: hidden;
        height: 200px;
    }



.article-header {
 display: inline-block;
 width: 100%;
}

article {
 margin: 20px 0px;
}

article.menu-product-group {
    margin: 0 0 20px 0;
}

#cboxTitle {
 display: none !important; //hide image title in colorbox   
}

    
    

/* MOBILE APP SLIDER */
.mobile-phone {
    background: url('../images/ritas/phone.png') no-repeat;
    height: 648px;
    position: relative;
    padding-top: 134px;
    padding-left: 29px;
    margin-bottom: 100px;
    margin-top: 40px;
}

.pagination-wrapper-mobile {
    width: 350px !important;
    left: 400px;
    position: relative;
    top: -100px;
    text-align: center;
     
    a.mobile-app-prev, a.mobile-app-next {
        color: @white;
        background: @ritas-red;
        text-transform: uppercase;
        font-size: 16px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    a.mobile-app-prev {
        padding: 2px 10px;
        margin-right: 10px;
      }
    a.mobile-app-next {
        padding: 2px 25px; 
    }
    
    //caroufredsel slideshow-controls
    #mobile-app-slider-pag {
        text-align: center;
        margin-top: 10px;
        a {
            background: url('../plugins/carouFredSel-6.2.0/miscellaneous_sprite.png') 0 -300px no-repeat transparent;
            width: 15px;
            height: 15px;
            margin: 0 5px 0 0;
            display: inline-block;
            span {
                display: none;
            }
            &.selected {
                background-position: -25px -300px;
                cursor: default;
            }
        }
    } //#mobile-app-slider-pag
} // .pagination-wrapper-mobile
    
#purchase-app {
    position: absolute;
    left: 384px;
    bottom: -12px;
    .android, .apple  {
        float: left;   
        width: 100%;
        a {
            display: inline-block;
            float: left;
            img {
                padding-right: 20px;
                padding-bottom: 10px;
            }
        &.mobileView { display: none; }
        }
    } //.android, .apple
} //#purchase-app
    
h1.mobile-app {
    float: left;
    width: 300px;
    left: 414px;
    position: relative;
    top: 50px;
}

#mobile-app-slider{
    width: 920px !important;
    p {
        font-size: 17px;
        line-height: 150%;
    }
    .mobile-app-slide {
        width: 891px !important; 
        height: 399px;
        .mobile-app-slide-background {
            display: inline-block;
            clear: none;
            width: 282px;
            margin-right: 100px;
        }
        .mobile-app-description {
            width: 400px;
            clear: none;
            display: inline-block;
            vertical-align: top;
        }
    } //.mobile-app-slide
    h1 {
        text-transform: none;
        margin: 0px;
        color: @ritas-dark-gray;
        font-size: 28px;
        line-height: 28px;
        font-weight: 500;
    }
} //#mobile-app-slider

.blue-background {
    height: 420px;
    background-color: none;
    position: absolute;
    z-index: -9999;
    top: 608px;
    width: 100%;
    display: block;
}
img.alignright {
    float: right;
    padding-left: 20px;
}
img.alignleft {
    float: left;
    padding-right: 20px;
}


/*********************
TOGGLE
*********************/
 h3.toggle  {
    background: none !important;
    padding: 0px !important;

    a {
        font-size: 24px;
        color: @ritas-dark-gray;
    }
 }


h3.toggle-active {
    margin-bottom: 0px;   
}
 


/*********************
sitemap list
*********************/

ul.kwayy-page-list {


    a {
      font-size: 18px;
      margin-top: 10px!important;
    }
    
    li ul {
     padding-left: 20px;  
     margin: 10px 0px 10px 20px !important;
        a { font-size: 14px;} 
     
    }
    
    li ul li {
    list-style-type: circle;
       a { font-size: 14px; color: @ritas-dark-gray;} 
    }
    
 }
 
.tweets {
 width: 450px;
 float: left;
margin-right: 50px;
}

 /*********************
IMAGE LIBRARY POSTS
*********************/
.library-post {
width: 33%;
float: left;
text-align: center;
height: 285px;

        .article-header {
         width: 100%;
         margin-bottom: 20px;
        }

        h3.h2 a, .h2 {
         font-size: 16px;
         color: @ritas-dark-gray;
         line-height: 18px !important;
        }
}

ol.ritas_page_navi {
 width: 100%;
 float: left;
}



/* social media page */
.social-media-feed {
    min-width: 450px;
    width: 47.5%;
    clear: none;
    display: inline-block;
    float: left;
}
#twitter-feed.social-media-feed {
    margin-right: 2.5%;
}
#facebook-feed.social-media-feed {
    margin-left: 2.5%;
}
#instagram-feed.social-media-feed {
    width: 100%;
    clear: both;
}


/* US Map page */
#map-alternate-selector {
    display: none;
    visibility: hidden;
}