/******************************************************************
Site Name:  RitasIce.com
Author:  Anson Han, Sayra Lopez

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!


------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER SYTLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGINATION STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES
14. CUSTOM PAGE & BLOCK TEMPLATES

******************************************************************/


/*********************
01. GENERAL STYLES
*********************/
@import "_preprocessor_variables.less";
.mobileView { display: none; visibility: hidden; }
.desktopView { display: inline-block; visibility: visible; }

/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/

/*********************
03. LAYOUT & GRID STYLES
*********************/
#main {
    min-height: 400px;
    margin-top: 20px;
}


/*********************
04. LINK STYLES
*********************/

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1 {
    font-size: 32px;
    line-height: 36px;
}

/*********************
06. HEADER STYLES
*********************/
#static-header-banner, #find-ritas-social-icons {
    display: none;
    visibility: hidden;
}
#header-slideshow-wrapper, #find-ritas-slider-overlay {
    display: inline-block;
    visibility: visible;
}
#find-ritas-slider-overlay {
    position: absolute;
    right: 50px;
    top: 20px;   
    z-index: 9999;
}  
.social-icons-header {
    right: 42px;
}

//Banner slider height
@ritas-banner-slide-height: 350px;
@ritas-banner-slide-nextprev: 43%;

#header-slideshow-wrapper {
    width:100%;
    height: @ritas-banner-slide-height;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    clear: both;
    position: relative;
    background: #aad6f3;

    #header-logo {
        top: 20px;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index:999;
        a {
          position: relative;
          width: 200px;
          margin: 0 auto;
          display: inline-block;
          .logo {
              width: 100%;
              display: block;
              border: none;
          }
        }
      } //#header-logo

    #header-slideshow {
        width: 100%;
        height: 100%;
        overflow:hidden;
        position: relative;
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;

        .ritas-banner-slide {
            position: relative;
            vertical-align: bottom;
            height: @ritas-banner-slide-height;
        } //.ritas-banner-slide

        //caroufredsel 
        .caroufredsel_wrapper { width: 100% !important; }
        
        //caroufredsel slideshow-controls
        a.ritas-banner-prev, a.ritas-banner-next {
            background: url('../images/ritas/arrow-sprite.png') no-repeat;
            height: 50px;
            width: 33px;
            display: block;
            z-index: 9999;
            position: absolute;
            top: @ritas-banner-slide-nextprev;
            span { display: none; }
        }
        a.ritas-banner-prev {
            left: 10px;
            background-position: -50px -61px;
        }
        a.ritas-banner-prev:hover {    background-position: -50px -121px; }
        a.ritas-banner-prev.disabled {background-position: 0 -100px !important;  }
        a.ritas-banner-next {
            right: 10px;   
        	background-position: -6px -61px;
        }
        a.ritas-banner-next:hover {		background-position: -6px -121px; }
        a.ritas-banner-next.disabled {	background-position: -50px -100px !important;  }
        a.ritas-banner-prev.disabled, a.ritas-banner-next.disabled { cursor: default; }

        .pagination-wrapper {
            position: absolute;
            bottom: 10px;
            z-index: 7999;
            .pagination {
                text-align: center;
                a {
                    background: url('../plugins/carouFredSel-6.2.0/miscellaneous_sprite.png') 0 -300px no-repeat transparent;
                    width: 15px;
                    height: 15px;
                    margin: 0 5px 0 0;
                    display: inline-block;
                    span { display: none; }
                }
                a.selected {
                    background-position: -25px -300px;
                    cursor: default;
                }
            } //.pagination
        } //.pagination-wrapper

        .clearfix { float: none; clear: both; }
    } //#header-slideshow
} //#header-slideshow-wrapper

#header-links {
    display: block;
    position: absolute;
    width: auto;
    border-bottom: none;
    line-height: 100%;
    top: @ritas-banner-slide-height;
    margin-top: 75px;
    right: 0px;
    
    #find-ritas-social-icons {
        display: none;
        visibility: hidden;
    } //#find-ritas-social-icons

    #mobile-nav {
        display: none;
        visibility: hidden;
    } //#mobile-nav

    .social-icons-header {
        display: block;
        margin-right: 2px;
        margin-top: 0px;
        clear: none;
        padding-right: 5px;
    } // .social-icon 
} //#header-links


/*********************
07. NAVIGATION STYLES
*********************/

.nav {
    li.parent-menu-item {
        display: table;
        vertical-align: middle;
    }
}
.fixed.nav {
        display: table;
}
#sticky-nav {
    li.parent-menu-item {
        display: table;
        vertical-align: middle;
        a { 
            display: table-cell;
            line-height: 2.2;
            vertical-align: middle;
        }
        ul.sub-menu {
            left: 0;
            top: 50px;
            
            li, li a { height: auto; min-height: 35px; vertical-align: middle;  }
            li { display: table-cell; text-align: center; }
            li a { display: block; }
        }
    }
}
ul.menu-main-menu {
 width: 96%;
 margin: 0px auto;
 border-left: 2% @white solid;
 border-right: 2% @white solid;
}

.menu-up.top-nav li ul.sub-menu {
 bottom: 100%;
 left: 0;
}


.nav {
    background: @ritas-red;
    border: 0;
    
    li.odd-menu-item a {
        color: @white;
    }
    li.parent-menu-item {
        display: table;
        min-height: 51px; 
        vertical-align: middle;
        a { 
            display: table-cell;
            line-height: 2.2;
            vertical-align: middle;
        }
        
        .sub-menu li, .sub-menu li a { height: auto; min-height: 35px; vertical-align: middle; }
        .sub-menu li { display: table-cell; text-align: center; }
        .sub-menu li a { display: block; }
    }
    li.parent-menu-item.odd-menu-item  {
        background-color: @ritas-red;
        a {
            color: @white;
        }
    }
    li.parent-menu-item.even-menu-item {
        background-color: @white;
        a {
            color: @ritas-dark-gray;
        }
    } /* end of even and odd items  */
    
    li {
        float: left;
        position: relative;
        display: block;
        text-align: center;
        vertical-align: middle;
        font-size: 13px;
        width: 14.2%;
        
        a {
            border-bottom: 0;
            text-transform: uppercase;
        }
        
        ul.sub-menu, ul.children {
            width: 100%;
            border: none;
            border-top: 0;
            position: absolute;
            display: none;
            z-index: 8999;
            border: 1px solid #eee;
            
            li {
                width: 100%;
                border: none;
                clear: both;
                display: inline-block;
                background: rgba(255,255,255,0.9);
                a {
                    padding: 5px 10px 5px 10px;
                    border-right: 0;
                    display: block;
                    clear: both;
                    width: 100%;
                    font-size: 13px;
                    color: @ritas-dark-gray !important;
                    
                    &:hover, &:focus { color: @ritas-red !important; }
                }
                
                &:last-child {
                    a { border-bottom: 0; }
                }
            } //li
        } //ul.sub-menu, ul.children
        
        /* showing sub-menus */
        &:hover ul {
            top: auto;
            display: block;
        }
    
    } /* end .menu ul li */
    .activeMenuItem { font-weight: normal; }
    .parent-menu-item { display: table; }
    .parent-menu-item a { display: table-cell; line-height: 2.2; vertical-align: middle; }
    .parent-menu-item.odd-menu-item a.activeMenuItem { text-decoration: underline; line-height:2.2;}
    .parent-menu-item.even-menu-item a.activeMenuItem { text-decoration: underline; line-height:2.2;}
    .sub-menu .menu-item a.activeMenuItem { color: @ritas-red !important; }
} /* end .nav */
.fixed.nav {
    background: #ef334e;
    border: 0;
    position: fixed;
    height: 39px;
    width: 100%;
    z-index: 999999;
    #sticky-nav {
        width: 100%;
        margin: 0px;
        border-right: none;
    }
}
.hidden-nav {
    display: none;
    visibility: hidden;
}

/*********************
08. POSTS & CONTENT STYLES
*********************/
#content {
    margin-top: 10px;
}


/************************
09. PAGINATION STYLES
*************************/

/***********************
10. COMMENT STYLES
************************/

/***********************
11. COMMENT FORM STYLES
************************/

/*********************
12. SIDEBARS & ASIDES
*********************/

/*********************
13. FOOTER STYLES
*********************/

#footer-nav-mobile, .mobile-footer-logo {
 display: none;
 visibility: hidden;
}
#footer-left-edge {
    display: inline-block;
    visibility: visible;
}
#footer-logo {
 text-align: center;   
}
.footer{
    ul {
    	li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
       margin-top: 20px;
} /* end .footer-links */


#inner-footer {
 background: @ritas-red;
 a { 
     color: @white;
 }
}

.footer-nav{
    li {
        float: left; 
        width: 16%;
    }
    margin-top: 15px;
}

#menu-footer-menu {
    display: block;
    visibility: visible;
    li a  {
     text-transform: uppercase;  
     font-weight: 600;
    }
    
     li ul li a {
     text-transform: none;
      font-weight: 400;
     }
}

ul.subpage-listing li{
     width: 100%;
     letter-spacing: -0.045em;
}

 #footer-left-edge {
     display: block;
     float: left;
     height: 200px;

    #footer-logo {
        position: relative;
        top: -40px;
        left: -25px;
        display: block;
         a, a:hover, a:visited, a:active {
            text-decoration: none;
            display:block;
            img {
                border: none;
                display: block;
            }
         }
    } //#footer-logo
    #footer-social {
        position: relative;
        top: -50px;
        left: 17px;
        width: 32px;
        
        .social-icon {
            a, a:visited, a:active, a:hover {
                display: inline-block;
                clear: both;
                width: 32px;
                background: url('../images/ritas/ritas-footer-social-icons.png') no-repeat;
            }                
            a#facebook {
                background-position: 0 -5px;
                height: 28px;
            }
            a#twitter {
                background-position: 0px -37px;
                height: 24px;
            }
            a#youtube {
                background-position: 0px -64px;
                height: 24px;
            }
             a#instagram {
                background-position: 0px -96px;
                height: 24px;
            }
             a#email {
                background-position: 0px -128px;
                height: 24px;
            }
        } //.social-icon
    } //#footer-social
 } //#footer-left-edge

#footer-bottom-right {
 color: @white;
 float: right;
 text-align: center;
 padding-right: 20px;
padding-bottom: 20px;
margin-top: -60px;
 
    p.footer-telno, p.copyright {
    margin: 0px;
    line-height: 28px;
    color: @white;
    }
}

/* FOOTER SOCIAL CROWD */
.social-crowd-wrapper {
     padding: 15px 0 100px 0;

     .facebook-stats, .twitter-stats, .youtube-stats, .instagram-stats {
        float: left;
        margin-right: 0.75%;
        width: 17%;
    }
    .footer-search-wrapper {
        float: left;
        width: 28%;
        display: inline-block;
        visibility: visible;
    }
}

#footer-nav-mobile {
  display: none;
  visibility: hidden;
 }
 
/*******************************
14. CUSTOM PAGE & BLOCK STYLES
********************************/

.byline {
 -webkit-margin-before: 0.2em !important;   
 -webkit-margin-after: 0.2em !important;  
}

input[type="submit"] {
   border: none;
       font-family: @ritas-font;
       background: @ritas-red;
       color: @white;
       font-weight: 500;
       text-align: center;
       padding: 7px 10px;
       text-transform: uppercase;
}

blockquote {
 font-style: italic;
 font-size:16px;
 line-height:  150%;
}


.iframed-container {
    width: 95%;
    padding-left: 0;
}
/* Featured Products/Flavors/Nutritional Info */
.desktop-product-menu { 
    display: block; 
    visibility: visible;
}

.menu-product-group {
    width: 90%;
    padding-left: 5%;

    //caroufredsel slideshow-controls
    a.ritas-product-prev, a.ritas-product-next { position: absolute; top: 36%; }
    a.ritas-product-prev { left: -50px; background-position: -50px 0px; }
    a.ritas-product-next { right: -50px; background-position: -6px 0px; }

    .content-slide {
        .flavorRow {
            .flavor {
                width: 100px;
                height: 200px;
            }
        } // .flavorRow
    } // .content-slide
} // .menu-product-group


/* Countdown Dashboard for First Day of Spring Page */
#countdown_dashboard {
    height: 110px;

    .dash {
        position: relative;
        width: 110px;
        height: 114px;
        margin-left: 20px;
    
        .dash_title {
            display: block;
            position: absolute;
            bottom: 0px;
            font-size: 9pt;
            letter-spacing: 2px;
        }

        .digit {
            font-size: 55pt;
            width: 55px;
        }
    } //.dash
} //#countdown_dashboard


/* Store Locator Search Results */
#sl_div {
    #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search {
        label {
            width: 185px;
            text-align: left;
            clear: left;
            float: left;
        }
        input, select {
            width: 485px;
            float: left;
            display: inline-block;
            margin: 0 0 0 10px;
        option {
                font-size: 14px;
                padding: 4px;
            }                
        }
        #addy_in_radius {
            float: none;
            width: auto !important;;
        }
        #radius_in_submit {
            width: 680px !important;
            input.slp_ui_button { width: 100%; margin: 0; }
        }
        div { float: none; display: inline-block; }
    }
    #results_table {
        tr.slp_map_search_results {
            #map_sidebar {
                ol.locations-listing { 
                    li {
                        .searchResultsTable {
                            width: 96%;
                            margin-left: 2%;
                        }
                    } //li
                } //ol.locations-listing
            } //#map_sidebar
        }//tr.slp_map_search_results
    } //#results_table
} //#sl_div


/* social media page */
#instagram-feed {
    #instagram-placeholder-wrapper {
        .instapress-shortcode {
            .instapress-shortcode-image {
                width: 9%;
                margin-right: 1%;
                &#instapress-shortcode-1-image-6, &#instapress-shortcode-1-image-7, &#instapress-shortcode-1-image-8, &#instapress-shortcode-1-image-9, &#instapress-shortcode-1-image-10 {
                    margin-top: 0px;
                }
            } // .instapress-shortcode-image
        } // .instapress-shortcode
    } // #instagram-placeholder-wrapper 
} // #instagram-feed


/* ### ANSON SORT THESE STYLES INTO PLACE ### */

/* PRESS SLIDER */
.slider-section {
    vertical-align: bottom;
    height: 440px;
    position: relative;
    
   .press-slider-info {
        width: 550px;
   }
} //.slider-section

ul.subpage-listing li {
     width: 100%;
     letter-spacing: -0.075em;
}
