/******************************************************************
Site Name:  RitasIce.com
Author:  Anson Han, Sayra Lopez

Stylesheet: 767px and Below Stylesheet


------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER SYTLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGINATION STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES
14. CUSTOM PAGE & BLOCK TEMPLATES

******************************************************************/


/*********************
01. GENERAL STYLES
*********************/
@import "_preprocessor_variables.less";

/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/

/*********************
03. LAYOUT & GRID STYLES
*********************/

/*********************
04. LINK STYLES
*********************/

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/

/*********************
06. HEADER STYLES
*********************/

/*********************
07. NAVIGATION STYLES
*********************/

/* hide main menu nav for mobile, render for 640 and higher */
.nav, .fixed.nav {
    display: none;
    visibility: hidden;
}

/*********************
08. POSTS & CONTENT STYLES
*********************/
.page-title {
    margin-bottom: 0;
}


/************************
09. PAGINATION STYLES
*************************/

/***********************
10. COMMENT STYLES
************************/

/***********************
11. COMMENT FORM STYLES
************************/

/*********************
12. SIDEBARS & ASIDES
*********************/

/*********************
13. FOOTER STYLES
*********************/

/*******************************
14. CUSTOM PAGE & BLOCK STYLES
********************************/

/* PRESS SLIDER */
.slider-section {
    vertical-align: botTom;
    height: 330px;
    position: relative;
        
    .press-slider-image {
        vertical-align: bottom;
        position: absolute;
        bottom: 0;
    }
   .press-slider-info {
        position: absolute;
        width: 420px;
        bottom: 0;
   }
} //.slider-section
    

