/******************************************************************
Site Name:  RitasIce.com
Author:  Anson Han, Sayra Lopez

Stylesheet: 850px and Up Stylesheet

This stylesheet is loaded for for desktop devices whose viewports 
are 850px and wider.


------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER SYTLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGINATION STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES
14. CUSTOM PAGE & BLOCK TEMPLATES

******************************************************************/


/*********************
01. GENERAL STYLES
*********************/
@import "_preprocessor_variables.less";

/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/

/*********************
03. LAYOUT & GRID STYLES
*********************/

/*********************
04. LINK STYLES
*********************/

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/

/*********************
06. HEADER STYLES
*********************/

/*********************
07. NAVIGATION STYLES
*********************/

/*********************
08. POSTS & CONTENT STYLES
*********************/

/************************
09. PAGINATION STYLES
*************************/

/***********************
10. COMMENT STYLES
************************/

/***********************
11. COMMENT FORM STYLES
************************/

/*********************
12. SIDEBARS & ASIDES
*********************/

/*********************
13. FOOTER STYLES
*********************/

/*******************************
14. CUSTOM PAGE & BLOCK STYLES
********************************/

.menu-product-group {
    .content-slide {
        .flavorRow {
            .flavor {
                width: 105px;
                height: 210px;
            }
        } // .flavorRow
    } // .content-slide
} //.menu-product-group


/* store locator search form customizations */
#sl_div {
    font-weight: bold;

} //#sl_div

/* Store Locator Search Results */
#search-results-legend {
    .heading {
        color: @ritas-red;
        font-size: 16px;
        display: block;
    }
    input[type="checkbox"] {
        margin-right: 5px;
    }
} //#search-results-legend
#sl_div {
    #results_table {
        tr.slp_map_search_results {
            #map_sidebar {
                
                ol.locations-listing {
                
                    li {
                
                        .searchResultsTable {

                            td { float: none; }
                            td.results_row_left_column { width: 200px !important; }
                            td.results_row_center_column { width: 380px !important; }
                            td.results_row_right_column { width: 170px !important; }
                        } //.searchResultsTable
                    } //li
                } //ol.locations-listing
            } //#map_sidebar
        }//tr.slp_map_search_results
    } //#results_table
} //#sl_div

ul.subpage-listing li{
     width: 100%;
     letter-spacing: 0em;
}