/******************************************************************
Site Name:  RitasIce.com
Author:  Anson Han, Sayra Lopez

Stylesheet: Tablet & Small Desktop Stylesheet

This stylesheet is loaded for for desktop devices whose viewports 
are 960px and wider.


------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER SYTLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGINATION STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES
14. CUSTOM PAGE & BLOCK TEMPLATES

******************************************************************/


/*********************
01. GENERAL STYLES
*********************/
@import "_preprocessor_variables.less";

/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/

/*********************
03. LAYOUT & GRID STYLES
*********************/

// max width of inner-content container
.wrap, .social-crowd-wrapper {
	max-width: 960px;
}

/*********************
04. LINK STYLES
*********************/

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/

/*********************
06. HEADER STYLES
*********************/

#header-links {
    margin-top: 65px;
}    


/*********************
07. NAVIGATION STYLES
*********************/
.fixed.nav {
    height: auto;
    #sticky-nav {
        width: 960px;
        margin: 0px auto;
        border-right: 102px @white solid;
    li.parent-menu-item {
        a { 
            height: auto; 
            vertical-align: middle;
        }
        ul {
            li {
                a { height: auto; }
            }
        }
    }
    }
}

ul.menu-main-menu {
 width: 960px;
 margin: 0px auto;
 border-left: 102px @white solid;
 border-right: 102px @white solid;
}

.nav {
    li.parent-menu-item {
        height: auto; 
        vertical-align: middle;
    }
}

/*********************
08. POSTS & CONTENT STYLES
*********************/

/************************
09. PAGINATION STYLES
*************************/

/***********************
10. COMMENT STYLES
************************/

/***********************
11. COMMENT FORM STYLES
************************/

/*********************
12. SIDEBARS & ASIDES
*********************/

/*********************
13. FOOTER STYLES
*********************/

/*******************************
14. CUSTOM PAGE & BLOCK STYLES
********************************/

.iframed-container {
}

/* Featured Products/Flavors/Nutritional Info */
.menu-product-group {
    width: 880px;
    padding-left: 30px;
    
    //caroufredsel 
    .caroufredsel_wrapper {
    width: 960px !important;
    }
    
    //caroufredsel slideshow-controls
    a.ritas-product-prev, a.ritas-product-next { position: absolute; top: 36%; }
    a.ritas-product-prev { left: -50px; background-position: -50px 0px; }
    a.ritas-product-prev:hover { background-position: -50px -121px; }
    a.ritas-product-prev.disabled {	background-position: 0 -100px !important;  }
    a.ritas-product-next { right: -50px; background-position: -6px 0px; }
    a.ritas-product-next:hover { background-position: -6px -121px; }
    a.ritas-product-next.disabled {	background-position: -50px -100px !important;  }
    a.ritas-product-prev.disabled, a.ritas-product-next.disabled { cursor: default; }
    
    a.ritas-product-prev span, a.ritas-product-next span { display: none; }
    .pagination-wrapper { position: absolute; bottom: 10px; }
    .pagination {
    	text-align: center;
        a {
            background: url('../plugins/carouFredSel-6.2.0/miscellaneous_sprite.png') 0 -300px no-repeat transparent;
        	width: 15px;
        	height: 15px;
        	margin: 0 5px 0 0;
        	display: inline-block;
            &.selected {
                background-position: -25px -300px;
            	cursor: default;
            }
            span {
            	display: none;
            }
        }
    }

    .content-slide {
        .flavorRow {
            .flavor {
                width: 120px !important;
                height: 220px;
            }
        } // .flavorRow
    } // .content-slide

} // .menu-product-group

