/******************************************************************
Site Name:  RitasIce.com
Author:  Anson Han, Sayra Lopez

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER SYTLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGINATION STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES
14. CUSTOM PAGE & BLOCK STYLES

******************************************************************/


/*********************
01. GENERAL STYLES
*********************/
@import "_preprocessor_variables.less";

body {
	font-size: 100%;
	line-height: 1.5;
    font-family: @ritas-font;
    font-weight: 500;
    color: @ritas-dark-gray;
    font-size: 14px;
}

.desktopView { display: none; visibility: hidden; }
.mobileView { display: inline-block; visibility: visible; }

/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
03. LAYOUT & GRID STYLES
*********************/

#container { height: 100%; position: relative; }
// max width of inner-content container
.wrap, .social-crowd-wrapper {
	width: 96%;
	margin: 0 auto;
}

#autoTop {
 padding-bottom: 30px;   
 float: right;
 text-transform: uppercase;
 color: @ritas-green;
 cursor: pointer;
}


/*********************
04. LINK STYLES
*********************/

a, a:visited {
	color: @link-color;

	/* on hover */
	&:hover, &:focus {
		color: @link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

a {  text-decoration: none; }


/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    font-family: @ritas-font !important;
	text-rendering: optimizelegibility;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
    a { 
    	text-decoration: none;
        color: @ritas-green;
        &:hover {color: @ritas-red }
    }
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
    text-transform: uppercase;
    margin: 0px;
    color: @ritas-green;
    font-weight: 900;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h3.h2 {
 -webkit-margin-after: 0em !important;  
 -webkit-margin-before: 0em !important; 
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
06. HEADER STYLES
*********************/

.header {
	#inner-header {}

	#logo {}

	nav {
		ul.nav {
			li {
				a {}

				&:first-child {}

				&:last-child {}
			}
		}
	}
}

#static-header-banner, #find-ritas-social-icons {
    display: inline-block;
    visibility: visible;
}
#header-slideshow-wrapper, #find-ritas-slider-overlay {
    display: none;
    visibility: hidden;
}

#static-header-banner {
    padding: 0;
    margin: 0 0 15px 0;
    width: 100%;
    position: relative;
    display: block;
    background: #aad6f3;
    height: 96px;

    img {
        border-bottom: 4px @ritas-red solid;
        margin:0;
        padding:0;
        min-height: 70px;
        width: auto;
    }
    img.mobile-portrait {
        display: inline-block;
        visibility: visible;
    }
    img.mobile-landscape {
        display: none;
        visibility: hidden;
    }
    #header-logo-mobile {
        top: 10px;
        width: 30%;
        max-width: 90px;
        height: 80px;
        right: 6.25%;
        position: absolute;
        z-index: 999;
        a {
          position: relative;
          width: 100%;
          display: inline-block;
          .logo {
              max-width: 100%;
              max-height: 100%;
              display: block;
              border: none;
          } //.logo
        } // a 
    } //#header-logo-mobile

}//#static-header-banner

#header-links {
    display: inline-block;
    position: relative;
    width: 100%;
    border-bottom: 1px @ritas-red dotted;
    line-height: 100%;
    z-index: 9999;

    #find-ritas-social-icons {
        display: inline-block;
        margin-left: 10px;
        margin-top: 0px;
        width: 126px;
         a {
          background: none;
          display: inline-block;
          img { display: inline-block; }      
         }
    } //#find-ritas-social-icons

    #mobile-nav {
        position: absolute;
        top: 2%;
        width: 60%;
        left: 2%;
        z-index: 999;
        
        select {
            display: inline-block;
            width: 100%;
            position: absolute:
            top: 0;
            right: 0;
        }
    } //#mobile-nav

    .social-icons-header {
        display: inline-block;
        margin-right: 2px;
        margin-top: 0px;
        clear: none;
        padding-right: 5px;
        float: right;
        
        .social-icon {
            float: left;
            padding-right: 8px;
        }
        a, a:visited, a:active, a:hover {
            display: inline-block;
            float: left;
            clear: none;
            width: 30px;
            background: url('../images/ritas/ritas-footer-social-icons.png') no-repeat @ritas-red;
            border-radius: 22px;
        }
        a.twitter { 
            background-position: -1px -34px;
            height: 28px;
        }
        a.facebook { 
            background-position: -1px -6px;
            height: 28px;
        }
    } // .social-icon 

} //#header-links

/*********************
07. NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	
	border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

	li {

		a {
			display: block;
			text-decoration: none;
			padding: 10px 6px;
	

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */

/* MOBILE MENU */
#menu-footer-menu {
 display: none;
 visibility: hidden;
}
#mobile-nav, #footer-nav-mobile {
    height: 40px;
    line-height: 30px;
    float: none;
    padding: 0 8px;
    text-transform: uppercase;
    margin: 0;
    background: @ritas-green url('../images/ritas/downarrow.png') right center no-repeat;
    color: @white;
    top: 0;
    right: 0;
    cursor: pointer;
    position: relative;

    .select-title {
        position: absolute;
        top: 5px;
        font-weight: bold;
        color: @white;
    }

    select {
        background: none;
        height: 40px;
        font-size: 14px;
        color: @white;
        border: 0px;
 //       -webkit-appearance: none;
 //       -moz-appearance: button;
        text-transform: none;
        font-family: @ritas-font;
        text-align: center;
        overflow: hidden;
        width: 100%;  
        opacity: 0;
        position: relative;
        
        option {
            color: @ritas-green;
            z-index: 9999;
            width: 100%;
            background: @ritas-light-gray;
            padding: 4px 2px;
        }
        option:selected {
            color: @ritas-red;
        }
    } //select
} //#mobile-nav, #footer-nav-mobile

#footer-nav-mobile {
 width: 100%;
 margin: 0;
}

.mobile-footer-logo {
    display: inline-block;
    max-width: 20%;
    min-width: 75px;
    border: none;
    text-decoration: none;
    vertical-align: middle;
    img {
        width: 100%;
    }
}
#footer-left-edge {
    display: none;
    visibility: hidden;
}
#find-ritas-social-icons a img {
 display: none;
 visibility: hidden;
}

/*********************
08. POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 0;

	#inner-content {}
}

		.hentry {

			header {}

			footer {}

		} /* end .hentry */

		.single-title,
		.page-title {}

		.single-title {}

		.page-title {}

		.archive-title { }

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: #999;

			time {}
		}

		/* entry content */
		.entry-content {

			p {}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}
            table.directory {
                vertical-align: top;
                tr, td {
                    vertical-align: top;
                
                    h2 {
                        margin:0;
                    }
                    h3 { text-align: center; }
                    ul {
                        list-style-type: disc;
                        margin-left: 25px;
                    }
                    ol {
                        list-style-type: decimal;
                        margin-left: 25px;
                    }
                
                }
            }
            .menu-product-group {
                .directory {
                    width: 960px;
                }
            }

			blockquote {

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}
            a img { margin: 0; }
            .ngg-gallery-thumbnail {
                float: left;
                margin-right: 5px;
                text-align: center;
            }
			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

            .gallery img {
    			margin: 0 0 0 0;
            }
            
			video {
				max-width: 100%;
				height: auto;
			}
            object#ecardsend {
                width: 460px;
                height: 310px;
            }
            

			pre {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}

		} /* end .entry-content */

		.wp-caption {
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

ol {
    margin-left: 20px;
    list-style-type: decimal;
}

p {
    line-height: 20px;
}

sup {
    font-size: 67%;
    padding-left: 1px;
    padding-right: 2px;
}

/************************
09. PAGINATION STYLES
*************************/

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.ritas_page_navi {

		li {
			float: left;
			margin-left: 10px;

			a {
				padding: 3px 6px;
				display: block;
				text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					color: #f01d4f;
					text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			padding: 3px 6px;
			border-bottom: 2px solid #f01d4f;
			position: relative;

			a {
				/* hovering on current page link */
				&:hover,
				&:focus {}

			}

		} /* end .ritas_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

		/* previous link */
		li.bpn-prev-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* next page link */
		li.bpn-next-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* first page link */
		li.bpn-first-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* last page link */
		li.bpn-last-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

	} /* end .ritas_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/*************************** Toggle Box ***************************/
h3.toggle {
font-size: 18px;
padding: 5px 0 10px 23px;
cursor: pointer;
clear:both;
margin:15px 0 0 0;
display:inline-block;
width:100%;
}
h3.toggle a {
text-decoration: none;
display: block;
}
h3 div.toggle-icon {
width: 50px;
height: 35px;
display: inline-block;
float:left;
}
h3.toggle div.toggle-icon {
background: url('../images/toggle_sprite.png') 0 -17px no-repeat;
}
h3.toggle-active div.toggle-icon {
background-position: -50px -70px;
}
.toggle-box {
clear: both;
margin: 0 0 20px 0;
overflow: hidden;
padding-left: 50px;
}


/******************************************************************
10. COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: @white;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: @white;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
11. COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: @white;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
12. SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

/*********************
13. FOOTER STYLES
*********************/

.footer {
	clear: both;
	#inner-footer {
	}
	nav {
		ul.nav {
			li {
				a {}

				&:first-child {}

				&:last-child {}
			}
		}
	}
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}


/* FOOTER SOCIAL CROWD */
.social-crowd-wrapper {
     margin: 0px auto;    
     padding: 15px 0 100px 0;
 
    .facebook-stats, .twitter-stats, .youtube-stats {
        float: left;
        margin-right: 0.75%;
        width: 24%;
    }
    .instagram-stats {
        float: left;
        margin-right: 0;
        width: 25%;
    }
    
    .footer-search-wrapper {
        display: none;
        visibility: hidden;
    }

    img, p {
    float: left;
    margin-top: 0px;
    }
    
    img {
    padding-right: 10px;
    }
    
    h1 {
        padding-bottom: 10px;
        font-size: 24px;
    }
    
    .social-crowd-numbers {
         font-size: 18px;   
    }
 
}


/*******************************
14. CUSTOM PAGE & BLOCK STYLES
********************************/

/* store locator search form customizations */
#sl_div {
    font-weight: bold;
    #search_table #search_table_body #search_form_table_row #search_form_table_cell #address_search {
        width: 100%;
        display: inline-block;
        
        label {
            width: 200px;
            text-align: left;
            clear: both;
            padding: 0;
            margin: 0 !important;
            float: none;
            display: block;
        }
        input, select {
            width: 95%;
            margin: 0 0 0 5%;
            padding: 0;
            float: none;
            display: block;
            option {
                font-size: 14px;
                padding: 4px;
            }                
        }
        #addy_in_radius, #radius_in_submit {
            float: none;
            padding: 3px 0 !important;
            margin: 0 !important;
            white-space: normal;
            width: auto !important;;
        }
        div { margin-top: 3px; }
    } //#search_table
} //#sl_div

/* Locations by State/Map Page */
ul.map {
    li a {
        color: @ritas-red !important;
        text-decoration: none !important;
        font-family: @ritas-font !important;
    }
} //#ul.map


/* Store Locator Search Results */
#search-results-legend {
    .heading {
        color: @ritas-red;
        font-size: 16px;
        display: block;
    }
    input[type="checkbox"] {
        margin-right: 5px;
    }
} //#search-results-legend

#resultsMapCanvas #sl_info_bubble {
    font-weight: normal !important;
    line-height: 1.3em !important;
    padding: 10px;
    max-width: 300px;
    font-size: 11px;
    font-family: Arial;
    text-align: justify;
    a.storelocatorlink {
        color: #0000FF;
    }
    a:hover.storelocatorlink {
        color: #4444FF;
    }
    .location_detail_label.hours {
        width: 100%;
        display: inline-block;
        clear: both;
    }
    .dow {
        clear: left;
        display: inline-block;
        width: 15%;
        margin-left: 7%;
    }
    .hrs {
        clear: right;
        display: inline-block;
        width: 78%;
    }
    .location_detail_label.contact {
        width: 22%;
        display: inline-block;
        clear: left;
    }
    .contact_link {
        width: 78%;
        display: inline-block;
        clear: right;
    }
    .slp_info_bubble_tags {
        display: none;
        visibility: hidden;
    }
} // #resultsMapCanvas #sl_info_bubble  


#sl_div {
    #map_table #map_table_body #map_table_row #map_table_cell #map {
        div {
            #sl_info_bubble {
                font-weight: normal !important;
                line-height: 1.3em !important;
                
                .location_detail_label.hours {
                    width: 100%;
                    display: inline-block;
                    clear: both;
                }
                .dow {
                    clear: left;
                    display: inline-block;
                    width: 15%;
                    margin-left: 7%;
                }
                .hrs {
                    clear: right;
                    display: inline-block;
                    width: 78%;
                }
                .location_detail_label.contact {
                    width: 22%;
                    display: inline-block;
                    clear: left;
                }
                .contact_link {
                    width: 78%;
                    display: inline-block;
                    clear: right;
                }
                .slp_info_bubble_tags {
                    display: none;
                    visibility: hidden;
                }
            } // #sl_info_bubble  
        } // div
    } //#map_table #map_table_body #map_table_row #map_table_cell #map   
    
    
    #results_table {
        width: 100%;
        overflow: hidden;
        text-align: left;

        tr.slp_map_search_results {
            #map_sidebar {
                font-weight: normal !important;
                
                ol.locations-listing {
                    margin-left: 0px;
                    padding-left: 0px;
                    overflow: hidden;
                
                    li {
                    /*    background: url('../images/ritas/red-circle.png') no-repeat top left; */
                        background-position: 0 0;
                        padding-left: 3px;
                        height: auto;
                        line-height: 22px;
                        margin-bottom: 10px;
                        color: @white;
                        font-weight: bold;
                        list-style-type: decimal;
                        list-style-position: inside;
                        text-align: right;
                        clear: both;
                        width: 100%;
                        display: inline-table;
                
                        .searchResultsTable {
                            color: @ritas-dark-gray !important;
                            display: inline-table;
                            vertical-align: top;
                            clear: none;
                            min-width: 300px;
                            width: 100% !important;
                            margin-left: 0;
                            position: relative;
                            vertical-align: top;
                            tr { float: left; }
                            td {
                                margin: 0 !important;
                                display: inline-block;
                                font-weight: normal !important;
                                text-align: left;
                                float: left;
                            }
                            td.results_row_left_column { min-width: 200px; width: 25%; }
                            td.results_row_center_column { width: 50%; }
                            td.results_row_right_column { min-width: 200px; width: 25%; }
                        } //.searchResultsTable
                    } //li
                } //ol.locations-listing
            } //#map_sidebar
        }//tr.slp_map_search_results
    } //#results_table
} //#sl_div

//location info displayed in info bubble or table
.location-info, .searchResultsTable {
    color: @ritas-dark-gray !important;
    font-weight: 500;
    padding-left: 0;
                              
    .location-name-ID {}
    a.storelocatorlink {color: @ritas-red !important;}
    span.location_name { color: @ritas-red !important; }
    .location-name { padding-left: 15px; color: @ritas-red !important;}
    .location_distance { clear:both; width:100%; display: inline-block; }
    .location-specific-social-links {
        display: inline-block;
        clear: right;
        vertical-align: top;
    
        .social-icon {
            display: inline-block;
            float: left;
            clear: none;
            padding-right: 5px;
            
            a, a:visited, a:active, a:hover {
                display: inline-block;
                float: left;
                clear: none;
                width: 30px;
                background: url('../images/ritas/ritas-footer-social-icons.png') no-repeat @ritas-red;
                border-radius: 22px;
            }
            a.twitter { background-position: -1px -34px; height: 28px; }
            a.facebook { background-position: -1px -6px; height: 28px; }
        } // .social-icon
        
        a.coolAlerts {
            margin-top: 5px;
            clear: none;
            display: inline-block;
            width: 120px;
            background: url('../images/ritas/cool-alerts-button.png') no-repeat;
            height: 37px;
        }
        .cool-alerts { height: auto; clear:both; }
    } //.location-specific-social-links

    .location-url, .slp_result_website { 
        padding-bottom: 10px;
        a, a:visited, a:active {
            color: @ritas-red !important;
            display: inline;
            clear: right;
        }
        a:hover {
            color: @ritas-green !important;
            display: inline;
            clear: right;
        }
    } //.location-url, .slp_result_website 
    .slp_result_tags { display: none; visibility: hidden; }
    .location-hours { 
        display: block;
        font-size: 0.84em;
        .dow {
            width: 40px;
            display: inline-block;
            float: left;
        }
        .hrs {
        }
    }
} //.location-info

.location-listing address {
 font-style: normal !important;   
}

    
/* Countdown Dashboard for First Day of Spring Page */
#countdown_dashboard {
    height: 60px;
    position: relative;

    .dash {
        font-family: @ritas-font;
        position: relative;
        background: transparent url('../images/dash.png') 0 0 no-repeat;
        float: left;
        width: 3.65em;
        height: 60px;
        margin-left: .3em;
    
        .dash_title {
            display: block;
            position: absolute;
            bottom: 0px;
            text-transform: uppercase;
            text-align: center;
            width: 100%;
            color: @dimgray;
            font-size: 9px;
            letter-spacing: 2px;
        }

        .digit {
            position: relative;
            float: left;
            text-align: center;
            font-weight: bold;
            color: @dimgray;
            font-size: 1.75em;
            width: 20px;
        }
    } //.dash
    
} //#countdown_dashboard


/* Galleries */
.collapsible-control {
    display: none;
    visibility: hidden;
}

/* PRESS RELEASES */
.press-content {
    padding: 5px 0px;
    margin: 0px;
    
    .press-release-header {
        float: left;
        width: 100%;
        
        h3.press-headline {
            margin: 0px;
            a {
                text-transform: none;
                text-decoration: none;
                color: @ritas-dark-gray;
                font-size: 16px;
                line-height: 20px;
                margin: 0px;
                &:hover {color: @ritas-dark-gray }
            }
        }
    } //.press-release-header

    .collapsible-control {
        float: right;
        display: inline-block;
        width: 80px;
    }
    
    .collapsible-area.collapsed {
        display: none;
        visibility: hidden;
    }
    
    .press-date {
     float: none;   
     -webkit-margin-before: 0em;
     -webkit-margin-after: 0em;
    }
    
    .press-featured-image {
        float: left;
        display: inline-block;
        padding-right: 20px;
    }
    
    .press-release-content {
        float: left;
        width: 75%;
    }
    
    .slider-section {
        vertical-align: botTom;
        height: 440px;
        position: relative;
            
        .press-slider-image {
            vertical-align: bottom;
            position: absolute;
            bottom: 0;
        }
       .press-slider-info {
            position: absolute;
            bottom: 0;
       }
    } //.slider-section
        
}  // .press-content






/* Rita's core css styles */
menu, ul{
  margin: 0;
}

.entry-content ul, .sidebar ul {
 margin-left: 20px;
}

.sidebar ul li {
    list-style-type: circle;
}




/* Desktop Featured Products/Flavors/Nutritional Info */
.desktop-product-menu { 
    display: none; 
    visibility: hidden;
}
.ritas-productLink {
    position: absolute;
    top: 30%;
    display: block;
    background: url('../images/ritas/arrow-sprite.png') no-repeat;
    height: 50px;
    width: 33px;
    &.faux-prev {
        left: -50px;
        background-position: -50px 0px;
        &:hover { background-position: -50px -121px; }
    }
    &.faux-next {
        right: -50px;
        background-position: -6px 0px;
        &:hover { background-position: -6px -121px; }
    }
    span { 
        display: none;
    }
}


/* Mobile Featured Products/Flavors/Nutritional Info */
.mobile-product-menu {
    .nutritionInfo {
        margin: 10px auto 0;
        width: 100%;
        border-bottom: 1px dotted @ritas-red;
        padding: 0 0 5px 0;
        display: inline-block;
        float: left;
        
        .flavorTitle {
            font-family: @ritas-font;
            color: @ritas-green;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
            white-space: normal;
            width: 100%;
            text-align: center;
            padding: 5px 0 5px 0;
            border-top: 1px dotted @ritas-red;
        }
        img.productThumbnail {
            max-width: 85px;
            max-height: 125px;
            display: inline-block;
            float: left;
            padding-right: 10px;
        }
        table {
            display: inline-block;
            line-height: 1.4em;
            font-size: 13px;
            border-collapse: collapse;
            border-spacing: 0px;
            clear: both;
            .nutritionCategory { width: 140px; text-align: left; } // .nutritionCategory
            .nutritionStat { width: 40px; }  // .nutritionStat
        } // table
    } //.nutritionInfo
} //.mobile-product-menu


.menu-product-group {
    width: 95%;
    .mobileNutritionWidget {
        padding: 0 0 10px 0;
        margin: 0 auto 0;
        //conceal blendinia size selector and topping size selector on Mobile
        #sizeSelector6, #sizeSelector55 { display: none; visibility: hidden; }
        .selectorWrapper {
            label {
                font-family: @ritas-font;
                color: @ritas-green;
                font-size: 1.25em;
                text-transform: uppercase;
                clear: both;
            }
            select {
                font-family: @ritas-font;
                color: @black;
                font-size: 1em;
                padding: 4px;
                margin-left: 10px;
                min-width: 275px;
                width: 95%;
                max-width: 320px; 
            }
        }
    } //.mobileNutritionWidget
    .mobileProductMenuLink { color: @ritas-red; font-size: 14px; width: 100%; float: right; text-transform: lowercase; text-decoration: none; text-align: right;}
} // .menu-product-group


/* ToggleBox Overrides for FAQs */

h3.toggle  {
    a { color: @ritas-dark-gray !important; }
    a:hover { color: @ritas-red !important; }
}

h3.toggle-active  {
    a { color: @ritas-green !important; }
}



/* nutrition feed iframe loading graphic */
.loading{
     background-image:url('../images/spinner.gif');
     display: inline-block;
     width: 36px;
     height:39px;
     margin:auto;
     position: absolute;
     left: 50%;
     top: 25%;
}


/* social media page */
.social-media-feed {
    width: 90%;
    margin: 0 auto;
    padding: 0 0 10px 0;
    clear: both;
    display: block;
    float: none;
}

#instagram-feed {
    width: 100%;
    
    #instagram-placeholder-wrapper {
        width: auto;
        display: inline-block;
        margin: 0 auto;
        padding: 10px;
        border: 1px solid #999;

        .instapress-shortcode {
            display: inline-block;
            margin: 0 auto;
            .instapress-shortcode-image {
                float: left;
                display: inline-block;
                width: 19%;
                margin-right: 1%;
                margin-top: 0;
                &#instapress-shortcode-1-image-5, &#instapress-shortcode-1-image-10 {
                    margin-right: 0;
                }
                &#instapress-shortcode-1-image-6, &#instapress-shortcode-1-image-7, &#instapress-shortcode-1-image-8, &#instapress-shortcode-1-image-9, &#instapress-shortcode-1-image-10 {
                    margin-top: 5px;
                }
                a {
                    display: inline-block;
                }
            } // .instapress-shortcode-image
        } // .instapress-shortcode
    } // #instagram-placeholder-wrapper 
} // #instagram-feed

/* US Map page */
#map-alternate-selector {
    display: inline-block;
    visibility: visible;
    width: 100%;
}

