/******************************************************************
Site Name:  RitasIce.com
Author:  Anson Han, Sayra Lopez

Stylesheet: _preprocessor_variables.less

******************************************************************/

// Overall Colors
@ritas-red: #ef334e;
@ritas-green: #008047;
@ritas-light-gray: #a9a9a9;
@ritas-dark-gray: #686868;
@dimgray: #555555;
@white: #ffffff;
@black: #000000;
@ritas-offwhite: #fffff3;
.ritas-red { color: @ritas-red; }
.ritas-green { color: @ritas-green; }

//fonts
@ritas-font: "freight-sans-pro", helvetica, sans-serif;
.freight-font { font-family: @ritas-font; }
