/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/

/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so LESS can understand the variables.
*/

/* import mixins */
@import "_mixins.less";

// styles in base.less
@import "_base.less";
@import "_0480down.less";


@import "_0481up.less";
@import "_0639down.less";

/* import grid */
@import "_grid.less";

@import "_0640up.less";
@import "_0767down.less";
@import "_0768up.less";
@import "_0850up.less";
@import "_0960up.less";
@import "_1024up.less";

/*
you can call the larger styles if you want, but there's really no need
*/


/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/

/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/

@import "_preprocessor_variables.less";

.lt-ie8, .lt-ie9 {
body, .entry-content p {
 font-family: arial, helvetica, sans-serif !important;
 font-weight: 100;
 font-style: normal !important;
 font-size: 13px !important;
 color: @ritas-dark-gray !important;
}
.ritas-green { color: @ritas-green !important; }
.ritas-red { color: @ritas-red !important; }

#main {
    article {
        img {
            margin: 0 auto;
            width: 100%;
            max-width: 300px;
            height: auto;
            display: inline-block;
        }
    }
    article .nutritionInfo {
        img.productThumbnail {
            max-width: 85px;
            max-height: 125px;
            display: inline-block;
            float: left;
            padding-right: 10px;
        }
    }
}

.fixed.nav {
    background: #ef334e;
    border: 0;
    position: fixed;
    height: 39px;
    width: 100%;
    z-index: 999999;
    #sticky-nav {
        width: 960px;
        margin: 0px auto;
        border-right: 102px #fff solid;
    }
}
.hidden-nav {
    display: none;
    visibility: hidden;
}

ul.menu-main-menu {
 width: 960px;
 margin: 0px auto;
 border-left: 102px #fff solid;
 border-right: 102px #fff solid;
}

.menu-up.top-nav li ul.sub-menu {
 bottom: 100%;
}


.nav {
    background: @ritas-red !important;
    border: 0;

    li.odd-menu-item a {
    color: #fff;
    }

   li.parent-menu-item.odd-menu-item  {
    background-color: @ritas-red;
    a {
    color: #fff;
    }
  }
   li.parent-menu-item.even-menu-item {
    background-color: #fff;
    a {
    color: @ritas-dark-gray;
    }
  } /* end of even and odd items  */



	li {
		float: left;
		position: relative;
        display: block;
        text-align: center;
        vertical-align: center;
        font-size: 13px;
        width: 14.2%;

		a {
			border-bottom: 0;
            text-transform: uppercase;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {


			}
		}


		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/

		ul.sub-menu,
		ul.children {
			width: 100%;
			border: none;
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 8999;
            border: 1px solid #eee;

			li {
        width:100%;
        border:none;
        clear:both;
        display:inline-block;
        background: #fff;
				a {
					padding: 5px 10px 5px 10px;
					border-right: 0;
					display: block;
					clear:both;
					width: 100%;
                    font-size: 13px;
                    color: @ritas-dark-gray !important;

					&:hover,
					&:focus { color: @ritas-red !important; }

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */


#sl_div {

    ol.locations-listing {
        margin-left: 0px;
        padding-left: 0px;
        list-style: decimal inside;
        }

        ol.locations-listing li {
        background: url('../images/ritas/red-circle.png') no-repeat top left;
        background-position: 60px 0;
        padding-left: 0px;
        height: auto;
        line-height: 22px;
        margin-bottom: 10px;
        color: #fff;
        font-weight: bold;
        list-style-type: decimal;
        list-style-position: inside;
            table {
                color: @ritas-dark-gray !important;
            }
        }
        .location-name-ID {
        }
        .location-info {
            color: @ritas-dark-gray !important;
            font-weight: 500;
            padding-left: 0;
            .location-name { padding-left: 15px; }

            .location-url, .slp_result_website {
                padding-bottom: 10px;
                a, a:visited, a:active {
                    color: @ritas-red !important;
                    display: inline;
                    clear: right;
                }
                a:hover {
                    color: @ritas-green !important;
                    display: inline;
                    clear: right;
                }
            }
            .location-hours { display: block; }
        }

        .location-specific-social-links {
            display: inline-block;
            clear: right;
            vertical-align: top;
            .social-icon {
                display: inline-block;
                float: left;
                clear: none;
                padding-right: 5px;

                a, a:visited, a:active, a:hover {
                    display: inline-block;
                    float: left;
                    clear: none;
                    width: 30px;
                    background: url('../images/ritas/ritas-footer-social-icons.png') no-repeat @ritas-red;
                    border-radius: 22px;
                }
                a.twitter {
                    background-position: -1px -34px;
                    height: 28px;
                }
                a.facebook {
                    background-position: -1px -6px;
                    height: 28px;
                }

            } // .social-icon

             a.coolAlerts {
                    margin-top: 5px;
                    clear: none;
                    display: inline-block;
                    width: 120px;
                    background: url('../images/ritas/cool-alerts-button.png') no-repeat;
                    height: 37px;
            }

            .cool-alerts {
                height: auto;
                clear:both;
            }

        }
    } /* #sl_div */

/********************************************
Featured Products/Flavors/Nutritional Info
*********************************************/
.menu-product-group {
    clear: both;
    display: inline-block;
    padding-left: 0px;
    width: 960px;
    max-height: 440px;
}

.ngg-galleryoverview {
    .ngg-gallery-thumbnail-box {
        .ngg-gallery-thumbnail {
            width: 100%;

            a {
                width: 100%;
                display: inline-block;
                text-align: center;
            }
        }
    }
} //.ngg-galleryoverview


li.parent-menu-item {
    display: inline-block;
    a { 
        display: block;
    }
    ul.submenu li { display: inline-block; }
}        


.footer {
    #footer-left-edge #footer-logo { z-index: 5; left: -50px; }
    nav {
        display: inline-block !important;
        visibility: visible !important;
        background-color: @ritas-red !important;
        position: relative;
        top: -185px;
        z-index: 2;
        
        #footer-nav-desktop { 
            display: block !important; 
            visibility: visible !important; 
            position: relative;
            left: 80px;
        }
        #menu-footer-menu { 
            display: block !important; 
            visibility: visible !important; 
            color: @white !important;
            li a { color: @white !important; }
        }
    }
    #footer-bottom-right { 
        z-index: 5; 
        position: relative; 
        top: 150px; 
        p.copyright { color: @white !important; }
    }
}
.fixed.nav { display:none; visibility:hidden; } 

#sticky-nav #menu-main-menu, .nav {
    display:block;
    visibility:visible;
    li.parent-menu-item {
        display: inline-block;
        min-height: 51px;
        a { 
            display: inline-block;;
        }
        
        .sub-menu li { display: inline-block; }
        .sub-menu li a { display: inline-block; }
    }

    .parent-menu-item { display: inline-block; };
    .parent-menu-item a { display: inline-block; }
}

} //.lt-ie8, .lt-ie9
