/*****************************************************
Store Locator Search Results
******************************************************/
#sl_div {
    #results_table {
        tr.slp_map_search_results {
            #map_sidebar {
                ol.locations-listing { 
                    
                    li {
                        padding-left: 0px;
                        color: #000;
                        
                        .searchResultsTable {
                            top: 0px;
                        }
                    } //li
                } //ol.locations-listing
            } //#map_sidebar
        }//tr.slp_map_search_results
    } //#results_table
} //#sl_div


#sticky-nav #menu-main-menu, .nav {
    li.parent-menu-item {
        display: inline-block;
        min-height: 51px;
        a { 
            display: inline-block;;
        }
        
        .sub-menu li { display: inline-block; }
        .sub-menu li a { display: inline-block; }
    }

    .parent-menu-item { display: inline-block; };
    .parent-menu-item a { display: inline-block; }
}