/******************************************************************
Site Name:  RitasIce.com
Author:  Anson Han, Sayra Lopez

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/


//
// IMPORTING STYLES
//

// import normalize
@import "_normalize.less";

// import mixins
@import "_mixins.less";

/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/

// styles in base.less
@import "_base.less";

@media only screen and (max-width: 480.99px) {

    // styles in 480down.less
    @import "_0480down.less";

}

/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/
@media only screen and (min-width: 481px) {

    // styles in 481up.less
	@import "_0481up.less";

} // end of media query

@media only screen and (max-width: 639.99px) {

    // styles in 639down.less
    @import "_0639down.less";

}

/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/

@media only screen and (min-width: 640px) {

    // import grid
    @import "_grid.less";

    // styles in 640up.less
    @import "_0640up.less";
    
} // end of media query

@media only screen and (max-width: 766.99px) {

    // styles in 767down.less
    @import "_0767down.less";

}

@media only screen and (min-width: 767px) {
    
    // styles in 768up.less
    @import "_0768up.less";
    
} // end of media query

@media only screen and (min-width: 850px) {
    
    // styles in 768up.less
    @import "_0850up.less";
    
} // end of media query


@media only screen and (min-width: 960px) {
    
    // styles in 960up.less
    @import "_0960up.less";

} // end of media query

@media only screen and (min-width: 1024px) {
    
    // styles in 1024up.less
    @import "_1024up.less";

} // end of media query

